{% extends 'base.html' %}
{% load static from staticfiles %}
{% load menu_tags %}
{% load cms_tags %}
{% load i18n %}

{% block page_title %}
	<title>Laboratorio Urbano Rigenera - Where you can be yourself</title>
{% endblock page_title %}

{% block html_attrs %}lang="en" class="{%block html_classes %}{% endblock html_classes %}"{% endblock html_attrs %}

{% block base_meta %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	{% block og_sharing_meta %}
	<meta property="og:url"                content="http://www.rigeneralab.org" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Rigenera - Where you can be yourself" />
	<meta property="og:description"        content="Laboratorio urbano - Palo del Colle (BA)" />
	<meta property="og:image"              content="http://www.rigeneralab.org/media/photologue/photos/gallery1_v0cDy5v.jpg" />
	{% endblock og_sharing_meta %}
	<meta property="og:image:width"        content="1920" />
	<meta property="og:image:height"        content="1280" />
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static 'img/favicon.ico/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">
	
	{% block page_meta %}
	{% endblock page_meta %}
{% endblock base_meta%}


{% block css %}
	<!-- Place favicon.png in the root directory -->
	{% block favicon %}
    	<link rel="apple-touch-icon" sizes="57x57" href="{% static '/img/favicon.ico/apple-icon-57x57.png' %}" />
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicon.ico/apple-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon.ico/apple-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon.ico/apple-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon.ico/apple-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon.ico/apple-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon.ico/apple-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon.ico/apple-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.ico/apple-icon-180x180.png' %}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicon.ico/android-icon-192x192.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon.ico/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon.ico/favicon-96x96.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon.ico/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'img/favicon.ico/manifest.json' %}">
    {% endblock favicon %}

    {% block libs_css %}
    	<link rel="stylesheet" type="text/css" href="{% static 'css/themify-icons.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'js/bower_components/owl.carousel/dist/assets/owl.carousel.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'js/bower_components/owl.carousel/dist/assets/owl.theme.default.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    {% endblock libs_css %}

	{% block page_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/custom_style.css' %}" />
	{% endblock page_css %}

	{% block inline_css %}
	{% endblock inline_css %}
{% endblock css %}

{% block body_attrs %}class="theme1"{% endblock body_attrs %}


{% block body %}
	
	{% block pre_body_content %}
		<!--[if lt IE 10]>
	      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->
	{% endblock pre_body_content %}
	
	{% block body_content %}
		<!-- Loading Screen -->
		<div id="loading_screen">
			<div class="inner">
				<img src="{% static 'img/rigenera_logo.png' %}" class="wow" alt="logo" data-animation="fadeInUp" width="100" />
				<div class="text wow" data-animation="fadeInDown">LOADING...</div>
			</div>
		</div>
		<!-- /Loading Screen -->

		<!-- Scroll To Top -->
		<div class="scroll_to_top ti-angle-up"></div>
		<!-- /Scroll To Top -->

		<!-- Wrapper -->
		<div id="wrapper">
			{% block page %}
				<!-- Mobile Nav -->
				<div class="mobile_nav_box">
					<a href="#" class="mobile_nav_toggle ti-align-justify"></a>
				</div>
				<!-- /Mobile Nav -->
				
				{% block header %}
				<!-- Sidebar -->
				<header id="sidebar">
					<div class="inner">

						<!-- Logo -->
						<h1>
							<a href="/" class="logo">
								<img src="{% static 'img/rigenera_logo.png' %}" alt="Laboratorio urbano Rigenera" />
							</a>
						</h1>
						<div class="clearfix languageChooserWrapper">
							<ul class="languageChooser">
							{% language_chooser "cms_templates/language_chooser.html" %}
							</ul>
						</div>
						<!-- /Logo -->

						<!-- Main Menu -->
						<nav>
							<ul class="main_menu">
								
								{% show_menu 0 100 100 100 'cms_templates/menu.html' %}
								
								{% comment %}
								<li class="active">
									<a href="index_grid.html" data-page="home">HOME</a>
								</li>
								<li>
									<a href="about.html" data-page="about">PAGES</a>
								</li>
								<li>
									<a href="portfolio_masonry_4col.html" data-page="portfolio">PORTFOLIO</a>
								</li>
								<li>
									<a href="blog.html" data-page="blog">BLOG</a>
								</li>
								<li>
									<a href="shop.html" data-page="shop">SHOP</a>
								</li>
								{% endcomment %}
							</ul>
						</nav>
						<!-- /Main Menu -->

					</div>

					<!-- Social Icons -->
					<div class="social_icons">
						<a href="https://www.facebook.com/rigeneralab/" target="_blank" class="ti-facebook facebook_bg"></a>
						<a href="https://www.youtube.com/channel/UCtf0hK2i3sPaFMOLgILEyMA" target="_blank" class="ti-youtube youtube_bg"></a>
						
						{% comment %}
						<a href="#" class="ti-twitter twitter_bg"></a>
						<a href="#" class="ti-linkedin linkedin_bg"></a>
						<a href="#" class="ti-github github_bg"></a>
						{% endcomment %}
					</div>
					<!-- /Social Icons -->

				</header>
				<!-- /Sidebar -->
				{% endblock header %}

				{% block menu %}
				<!-- Sub Menu Bar -->
				<div id="submenu_bar">
					<div class="clearfix languageChooserWrapper">
						<ul class="languageChooser">
						{% language_chooser "cms_templates/language_chooser.html" %}
						</ul>
					</div>
					{% show_menu 0 100 100 100 'cms_templates/submenu.html' %}
					{% comment %}
					<div class="menu" data-page="shop">
						<h3 class="title">SHOP</h3>
						<ul>
							<li>
								<a href="shop.html">SHOP</a>
							</li>
							<li>
								<a href="shop_category.html">CATEGORY</a>
							</li>
							<li>
								<a href="shop_product.html">PRODUCT</a>
							</li>
							<li>
								<a href="shop_cart.html">CART</a>
							</li>
						</ul>
					</div>
					{% endcomment %}
				</div>
				<!-- /Sub Menu Bar -->
				{% endblock menu %}

				{% block page_content %}
				{% endblock page_content %}

				{% block footer %}
				<!-- Footer -->
				<footer id="footer">
					 
					<!-- Logo -->
					<h1>
						<a href="/" class="logo">
							<img src="{% static 'img/logo_light.png' %}" alt="Laboratorio urbano Rigenera " class="imgLogo" />
						</a>
					</h1>
					<!-- /Logo -->

					<!-- Social Icons -->
					<div class="social_icons">
						<a href="https://www.facebook.com/rigeneralab/" target="_blank" class="ti-facebook facebook_bg"></a>
						<a href="https://www.youtube.com/channel/UCtf0hK2i3sPaFMOLgILEyMA" target="_blank" class="ti-youtube youtube_bg"></a>
						{% comment %}
						<a href="#" class="ti-twitter twitter_bg"></a>
						<a href="#" class="ti-linkedin linkedin_bg"></a>
						<a href="#" class="ti-github github_bg"></a>
						<a href="#" class="ti-instagram instagram_bg"></a>
						<a href="#" class="ti-vimeo vimeo_bg"></a>
						<a href="#" class="ti-dribbble dribbble_bg"></a>
						<a href="#" class="ti-wordpress wordpress_bg"></a>
						{% endcomment %}
					</div>
					<!-- /Social Icons -->

					<!-- Copyright -->
					<div class="copyright">
						<p>
							{% now "Y" %} &copy; Rigenera Aps <br /> 
							Viale della Resistenza, snc <br /> 
							70027 - Palo del Colle (BA)<br />
							P.iva 07676130722<br />
							C.F. 97128150584
							<a href="{% page_url 'cookie_policy' %}">{% trans 'Informativa sulla privacy e sui cookie' %}</a>
						</p>
					</div>
					<div class="creditsWrapper">
						<h5 class="credits">CREDITS</h5>
						<p class="credits">
							{% trans 'Website programming' %}: <a href="mailto:mastrandreagiuseppe@gmail.com">Giuseppe Mastrandrea</a><br />
							{% trans 'Translations' %}: <a href="mailto:elena.varrese@hotmail.it">Elena Varrese</a>
						</p>
					</div>
					<!-- /Copyright -->

				</footer>
				<!-- /Footer -->
				{% endblock footer %}

			{% endblock page %}
		</div>
		<!-- /Wrapper -->
	{% endblock body_content %}
	
	{% block post_body_content %}
		{% include 'partials/templates.html' %}
	{% endblock post_body_content %}

{% endblock body %}

{% block js %}
	
	{% block js_libs %}
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
		    "popup": {
		      "background": "#edeff5",
		      "text": "#838391"
		    },
		    "button": {
		      "background": "transparent",
		      "text": "#4b81e8",
		      "border": "#4b81e8"
		    }
		  },
		  "position": "bottom-left",
		  "content": {
		    "message": "Questo sito utilizza i cookie per migliorare la tua esperienza di navigazione. Proseguendo la navigazione senza modificare le impostazioni del browser, accetti di ricevere tutti i cookies del nostro sito web. ",
		    "dismiss": "OK",
		    "link": "Leggi l'informativa sulla privacy e sui cookie",
		    "href": "{% page_url 'cookie_policy' %}"
		  }
		})});
		</script>
		<script type="text/javascript" src="{% static 'js/bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/jquery.equalheights.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/waypoints/lib/jquery.waypoints.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/counterup/jquery.counterup.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/appear/jquery.appear.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/wow/dist/wow.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/parallax.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/isotope/dist/isotope.pkgd.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/libs/jquery.debouncedresize.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/project/scripts.js' %}"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?&key=AIzaSyBMkK_C6NtWFpG_0nLSRNvmjOHj6kI8nLY"></script>
	{% endblock js_libs %}

	{% block js_vars %}
		<script type="text/javascript">
		Vars = {
			urls: {}
		};
		
		Vars.urls['postMessageUrl'] = "{% url 'corporate:send-message' %}";

		</script>
	{% endblock js_vars %}
	
	{% block analytics %}
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	   <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-45397647-4', 'auto');
		  ga('send', 'pageview');

		</script>
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		 fbq('init', '1131887866991843'); 
		fbq('track', 'PageView');
		</script>
		<noscript>
		 <img height="1" width="1" 
		src="https://www.facebook.com/tr?id=1131887866991843&ev=PageView
		&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
	{% endblock analytics %}
	
	{% block js_social %}
	{% endblock js_social %}
	
	{% block js_page_libs %}
	{% endblock js_page_libs %}
	
	{% block page_js %}
	{% endblock page_js %}
	
	{% block inline_js %}
	{% endblock inline_js %}

{% endblock js %}