{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}


{% block page_content %}
	<!-- Content -->
		<section id="content" class="portfolio">
			
			<!-- Top Cover -->
				{% if object.cover_img %}
					{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
						<div class="top_cover events" style="background-image: url({{im.url}})">
							<div class="overlay">
								<div class="vertical_align">
									<h1 class="title">
										<span class="title">
											{% trans "EVENTS" %}
										</span>
										<span class="sep"></span>
										<span class="subtitle">
											{% if category_slug %}
												{{object.name|upper}}
											{% else %}
												{% trans "OUR EVENTS" %}
											{% endif %}
										</span>
									</h1>
								</div>
							</div>
						</div>
					{% endthumbnail %}
				{% else %}
					<div class="top_cover events">
						<div class="overlay">
							<div class="vertical_align">
								<h1 class="title">
									<span class="title">
										{% trans "EVENTS" %}
									</span>
									<span class="sep"></span>
									<span class="subtitle">
										{% if category_slug %}
											{{object.name|upper}}
										{% else %}
											{% trans "OUR EVENTS" %}
										{% endif %}
									</span>
								</h1>
							</div>
						</div>
					</div>
				{% endif %}
			<!-- /Top Cover -->

			<div class="container-fluid">
				<div class="row">

					<div class="section no-padding-left no-padding-right no-padding-bottom">

						<!-- Portfolio Grid Filter -->
						<ul class="portfolio_grid_filter hidden">
							<li class="label">FILTERS:</li>
							<li class="active" data-filter="*">ALL</li>
							<li data-filter=".web_design">WEB DESIGN</li>
							<li data-filter=".logo">LOGO</li>
							<li data-filter=".photography">PHOTOGRAPHY</li>
							<li data-filter=".art">ART</li>
						</ul>
						<!-- /Portfolio Grid Filter -->

						<!-- Portfolio Grid -->
						<div class="portfolio_grid masonryWrapper" data-cols="2">
							{% for item in object_list %}
								<div class="item web_design art bgcolor1 light_color">
									<div class="overlay">
										<div class="inner">
											<h3 class="title">{{ item.name }}</h3>
											<div class="separator vertical center"></div>
											<h6 class="tagline">
												{% if item.tags.all|length > 0 %}
													{% for tag in item.tags.all %}
														<span>{{tag.name}}</span>
													{% empty %}
													{% endfor %}
												{% endif %}
											</h6>
										</div>
										<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
									</div>
									<a href="{% url 'events:events-category-list' slug=item.slug %}" class="hover_link"></a>
									{% thumbnail item.cover_img.image "1400x1080" crop="center" as im %}
									    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{item.name}}">
									{% endthumbnail %}
								</div>
							{% empty %}
								<div class="item web_design art bgcolor1 light_color">
								</div>
							{% endfor %}
							<div class="clear"></div>
						</div>
						<!-- /Portfolio Grid -->

					</div>

				</div>
			</div>


		</section>
		<!-- /Content -->
{% endblock page_content %}