{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}

{% block page_content %}
	<!-- Content -->
		<section id="content" class="blog">
			<!-- Top Cover -->
				{% if object.cover_img %}
					{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
						<div class="top_cover events" style="background-image: url({{im.url}})">
							<div class="overlay">
								<div class="vertical_align">
									<h1 class="title">
										<span class="title">
											{% trans "EVENTS" %}
										</span>
										<span class="sep"></span>
										<span class="subtitle">
											{% if category_slug %}
												{{object.name|upper}}
											{% else %}
												{% trans "OUR EVENTS" %}
											{% endif %}
										</span>
									</h1>
								</div>
							</div>
						</div>
					{% endthumbnail %}
				{% else %}
					<div class="top_cover events">
						<div class="overlay">
							<div class="vertical_align">
								<h1 class="title">
									<span class="title">
										{% trans "EVENTS" %}
									</span>
									<span class="sep"></span>
									<span class="subtitle">
										{% if category_slug %}
											{{object.name|upper}}
										{% else %}
											{% trans "OUR EVENTS" %}
										{% endif %}
									</span>
								</h1>
							</div>
						</div>
					</div>
				{% endif %}
			<!-- /Top Cover -->

			<div class="container">
				<div class="row">
					<div class="col-md-12 section no-padding-left no-padding-right">

						<!-- Blog Posts -->
						<div class="blog_posts alternative">
							{% if tags %}
								<h2 class="title">
									Tag: #{{tags|upper}}	
								</h2>
							{% endif %}
							<div class="excerpt">
								{{object.content|safe}}
								{% if object.fb_link %}
									<div class="item">

										<h3>SOCIAL</h3>

										<a href="{{object.fb_link}}" target="_blank" class="ti-facebook facebook_bg detailSocialLink"></a>
									</div>
								{% endif %}
							</div>
							{% for item in object_list %}
							<!-- Post -->
							<div class="post">
								<div class="media col-md-4">
									<a href="{% url 'events:event-detail' slug=item.slug %}">
										{% thumbnail item.cover_img.image "1400x1080" crop="center" as im %}
										    <img src="{{im.url}}" alt="blog post image" />
										{% endthumbnail %}
									</a>
								</div>

								<div class="col-md-6 body">

									<h2 class="title">
										<a href="{% url 'events:event-detail' slug=item.slug %}">{{item.title}}</a>
									</h2>

									<div class="meta">
										{% if item.tags.all|length %}
											{% for tag in item.tags.all %}
												<a href="{% url 'events:events-list' %}?tags={{tag.name}}">{{tag.name}}</a>
											{% empty %}
											{% endfor %}
											<span class="sep">&mdash;</span>
										{% endif %}
										<a href="{% url 'events:event-detail' slug=item.slug %}" class="date">{{item.event_start_date|date:"d/m/Y"}}</a>
									</div>

									<div class="excerpt">
										{{item.excerpt|striptags|truncatechars:260}}
									</div>

								</div>

								<div class="col-md-2 actions">

									<a href="{% url 'events:event-detail' slug=item.slug %}" class="button border">{% trans "READ MORE" %}</a>

								</div>

								<div class="clear"></div>

							</div>
							<!-- /Post -->
							{% empty %}
								<div class="item web_design art bgcolor1 light_color">
								</div>
							{% endfor %}

						</div>
						<!-- /Blog Posts -->

						{% if is_paginated %}
							<!-- Blog Pagination -->
							<div class="pagination_container">
								<nav>
									<ul class="pagination">
								    	{% if page_obj.has_previous %}
								    		<li>
									    		<a href="{% url 'events:events-list' %}" class="ti-angle-double-left"></a>
									    	</li>
									    	<li>
									    		<a href="{% url 'events:events-list' %}?page={{ page_obj.previous_page_number }}" class="ti-angle-left"></a>
									    	</li>
									    	<li>
									    		<a href="{% url 'events:events-list' %}?page={{ page_obj.previous_page_number }}" class="">{{ page_obj.previous_page_number }}</a>
									    	</li>
								    	{% endif %}
								    	<li class="active">
								    		<a href="#">{{page_obj.number}}</a>
								    	</li>
								    	{% if page_obj.has_next %}
								    	<li>
								    		<a href="{% url 'events:events-list' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
								    	</li>
								    	<li>
								    		<a href="{% url 'events:events-list' %}?page={{ page_obj.next_page_number }}" class="ti-angle-right"></a>
								    	</li>
								    	<li>
								    		<a href="{% url 'events:events-list' %}?page={{page_obj.paginator.num_pages}}" class="ti-angle-double-right"></a>
								    	</li>
								    	{% endif %}
									</ul>
								</nav>
							</div>
							<!-- /Blog Pagination -->
						{% endif %}

					</div>
				</div>
			</div>
		</section>
		<!-- /Content -->
{% endblock page_content %}
