{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}

{% block og_sharing_meta %}

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{object.title}}" />
<meta property="og:description"        content="{{object.excerpt|safe}}" />
{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
<meta property="og:image"              content="http://{{request.get_host}}{{im.url}}" />
{% endthumbnail %}

{% endblock og_sharing_meta %}


{% block page_content %}
<!-- Content -->
	<section id="content" class="blog">
		<!-- Top Cover -->
		{% thumbnail object.cover_img.image "1400x1080" crop="center" as im %}
		<div class="top_cover about" style="background-image: url({{im.url}})">
			<div class="overlay">
				<div class="vertical_align">
					<h2 class="title"><span class="title">{{object.title|upper}}</span>{% if object.subtitle %}<span class="sep"></span><span class="subtitle">{{object.subtitle|upper}}</span>{% endif %}</h2>
				</div>
			</div>
		</div>
		{% endthumbnail %}
		<!-- /Top Cover -->

		<div class="container">
			<div class="row">
				<div class="col-md-8 section">
					<!-- Blog Posts -->
					<div class="blog_posts default">
						<!-- Post -->
						<div class="post post_view  no-border">

							{% if object.gallery %}
								<div class="media">
									<div class="slideshow with_nav slider1">
										{% for photo in object.gallery.photos.all %}
										<div class="slide">
											<div class="overlay"></div>
											{% thumbnail photo.image "1920x1080" crop="center" as im %}
											<div class="slide_bg" style="background-image:url({{im.url}})"></div>
											{% endthumbnail %}
										</div>
										{% endfor %}
									</div>
								</div>
							{% endif %}

							<h2 class="title">
								<a href="{% url 'events:event-detail' slug=object.slug %}">{{object.title|upper}}</a>
							</h2>

							<div class="meta">
								{% if object.tags.all|length > 0 %}
									{% for tag in object.tags.all %}
										<span class="tags">
											<a href="{% url 'events:events-list' %}?tags={{tag.name}}">{{tag.name}}</a>
										</span>
									{% empty %}
									{% endfor %}
								{% endif %}
							</div>

							<div class="meta">
								<span class="date">{{object.event_start_date|date:"j M Y H:i"}}</span>
								<span class="sep">&mdash;</span>
								<span class="date">{{object.event_end_date|date:"j M Y H:i"}}</span>
							</div>

							<section class="body">

								{{object.content|safe}}
								{% if object.event_link %}
									<div class="item">

										<h3>SOCIAL</h3>

										<a href="{{object.event_link}}" target="_blank" class="ti-facebook facebook_bg detailSocialLink"></a>
									</div>
								{% endif %}

							</section>

							<!-- Tags and Social Icons -->
							<div class="tags_social">
								{% if object.tags.all|length > 0 %}
									<div class="tags">
										<h5 class="title">TAGS:</h5>
										{% for tag in object.tags.all %}
											<a href="{% url 'events:events-list' %}?tags={{tag.name}}">{{tag.name|upper}}</a>
										{% empty %}
										{% endfor %}
									</div>
								{% endif %}
								
								<div class="social_icons" data-absolute_url="{{request.build_absolute_uri}}">
									<a href="#" class="ti-facebook facebook_bg js-share" data-social="fb"></a>
									<a href="#" class="ti-twitter twitter_bg js-share" data-social="twitter"></a>
									<a href="#" class="ti-linkedin linkedin_bg js-share" data-social="linkedin"></a>
								</div>
								<div class="clear"></div>
							</div>
							<!-- /Tags and Social Icons -->

						</div>
						<!-- /Post -->
						{% if related %}
							<div class="blog_sidebar">
								<div class="widgetbox categories recent_posts">
									<h4 class="title"><span>{% trans 'RELATED EVENTS' %}</span></h4>
									{% for r in related %}
										<div class="gallery_items popup-gallery">
											<div class="item col-md-3">
												<div class="overlay">
													<a href="{% url 'events:event-detail' slug=r.slug %}" class="title">{{ r.title }}</a>
												</div>
												{% thumbnail r.cover_img.image "1400x1080" crop="center" as im %}
													<img src="{{im.url}}" alt="{{r.title}}" />
												{% endthumbnail %}
											</div>
										</div>
									{% empty %}
									{% endfor %}
								</div>
							</div>
						{% endif %}

					</div>
					<!-- /Blog Posts -->

				</div>
				
				<div class="col-md-4 section">

					<!-- Blog Sidebar -->
					<div class="blog_sidebar">

						{% if categories %}
						<div class="widgetbox categories">
							<h4 class="title"><span>{% trans 'CATEGORIES' %}</span></h4>
							<ul>
							{% for c in categories %}
								<li>
									<a href="{% url 'events:events-category-list' slug=c.slug %}" class="title">{{c.name|upper}}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
						{% endif %}

						<div class="widgetbox social">
							<h4 class="title"><span>{% trans 'CONNECT WITH US' %}</span></h4>

							<div class="icons">
								<a href="https://www.facebook.com/rigeneralab/" target="_blank" class="ti-facebook facebook_bg"></a>
								<a href="https://www.youtube.com/channel/UCtf0hK2i3sPaFMOLgILEyMA" target="_blank" class="ti-youtube youtube_bg"></a>
								{% comment %}
								<a href="#" class="ti-twitter twitter_bg"></a>
								<a href="#" class="ti-linkedin linkedin_bg"></a>
								<a href="#" class="ti-github github_bg"></a>
								<a href="#" class="ti-dribbble dribbble_bg"></a>
								<a href="#" class="ti-wordpress wordpress_bg"></a>
								{% endcomment %}
							</div>
						</div>

					</div>
					<!-- /Blog Sidebar -->
				</div>
			</div>
		</div>
	</section>
	<!-- /Content -->
{% endblock page_content %}