{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}

{% block og_sharing_meta %}

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{object.title}}" />
<meta property="og:description"        content="{{object.excerpt}}" />
{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
<meta property="og:image"              content="{{im.url}}" />
{% endthumbnail %}

{% endblock og_sharing_meta %}

{% block page_content %}
<!-- Content -->
	<section id="content" class="blog">
		<!-- Top Cover -->
		{% thumbnail object.cover_img.image "1400x1080" crop="center" as im %}
		<div class="top_cover about" style="background-image: url({{im.url}})">
			<div class="overlay">
				<div class="vertical_align">
					<h1 class="title"><span class="title">{{object.title|upper}}</span>{% if object.subtitle %}<span class="sep"></span><span class="subtitle">{{object.subtitle|upper}}</span>{% endif %}</h1>
				</div>
			</div>
		</div>
		{% endthumbnail %}
		<!-- /Top Cover -->

		<div class="container">
			<div class="row">
				<div class="col-md-8 section">
					<!-- Blog Posts -->
					<div class="blog_posts default">
						<!-- Post -->
						<div class="post post_view">

							{% if object.gallery %}
								<div class="media">
									<div class="slideshow with_nav slider1">
										{% for photo in object.gallery.photos.all %}
										<div class="slide">
											<div class="overlay"></div>
											{% thumbnail photo.image "1920x1080" crop="center" as im %}
											<div class="slide_bg" style="background-image:url({{im.url}})"></div>
											{% endthumbnail %}
										</div>
										{% endfor %}
									</div>
								</div>
							{% endif %}

							<h2 class="title">
								<a href="{% url 'news:news-detail' slug=object.slug %}">{{object.title|upper}}</a>
							</h2>

							<div class="meta">
								{% if object.tags.all|length > 0 %}
									{% for tag in object.tags.all %}
										<span class="tags">
											<a href="{% url 'news:news-list' %}?tags={{tag.name}}">{{tag.name}}</a>
										</span>
									{% empty %}
									{% endfor %}
								{% endif %}
								<span class="sep">&mdash;</span>
								<a span class="date">{{object.created|date:"j M Y"}}</a>
							</div>

							<section class="body">

								{{object.content|safe}}

							</section>

							<!-- Tags and Social Icons -->
							<div class="tags_social">
								{% if object.tags.all|length > 0 %}
									<div class="tags">
										<h5 class="title">TAGS:</h5>
										{% for tag in object.tags.all %}
											<a href="{% url 'news:news-list' %}?tags={{tag.name}}">{{tag.name|upper}}</a>
										{% empty %}
										{% endfor %}
									</div>
								{% endif %}
								
								<div class="social_icons">
									<a href="#" class="ti-facebook facebook_bg"></a>
									<a href="#" class="ti-twitter twitter_bg"></a>
									<a href="#" class="ti-linkedin linkedin_bg"></a>
								</div>
								<div class="clear"></div>
							</div>
							<!-- /Tags and Social Icons -->

							
							{% comment %}
							<!-- Comments -->
							<div id="comments">
								
								<h3 class="title">10 COMMENTS</h3>

								<!-- Comments List -->
								<ul class="comments_list">

									<!-- Comment -->
									<li class="comment">
										<div class="comment_inner">
											<img src="assets/img/avatar.jpg" alt="comment image">
											<div class="body">
												<h4 class="name hero-subtitle">JOHN DOE</h4>
												<div class="date">20th August 2015</div>
												<div class="text">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
													tempor incididunt ut labore et dolore magna aliqua.
												</div>
												<a href="#" class="button small">Reply</a>
											</div>
										</div>

										<!-- Children -->
										<ul class="children">

											<!-- Comment -->
											<li class="comment">
												<div class="comment_inner">
													<img src="assets/img/avatar.jpg" alt="comment image">
													<div class="body">
														<h4 class="name hero-subtitle">JOHN DOE</h4>
														<div class="date">20th August 2015</div>
														<div class="text">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
															tempor incididunt ut labore et dolore magna aliqua.
														</div>
														<a href="#" class="button small">Reply</a>
													</div>
												</div>
											</li>
											<!-- /Comment -->

										</ul>
										<!-- /Children -->

									</li>
									<!-- /Comment -->
									
									<!-- Comment -->
									<li class="comment">
										<div class="comment_inner">
											<img src="assets/img/avatar.jpg" alt="comment image">
											<div class="body">
												<h4 class="name hero-subtitle">JOHN DOE</h4>
												<div class="date">20th August 2015</div>
												<div class="text">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
													tempor incididunt ut labore et dolore magna aliqua.
												</div>
												<a href="#" class="button small">Reply</a>
											</div>
										</div>
									</li>
									<!-- /Comment -->

								</ul>
								<!-- /Comments List -->

							</div>
							<!-- /Comments -->


							<div class="comment_form">
								
								<h3 class="title">LEAVE A COMMENT</h3>

								<!-- Comment Form -->
								<div class="form">
								
									<div class="input">
										<input type="text" value="" placeholder="Your Name" name="name">
									</div>
								
									<div class="input">
										<input type="email" value="" placeholder="Your Email" name="email">
									</div>
								
									<div class="input">
										<input type="text" value="" placeholder="Your Website" name="website">
									</div>
								
									<div class="input">
										<textarea placeholder="Your Comment" name="message"></textarea>
									</div>

									<div class="actions">
										<a href="#" class="button">POST COMMENT</a>
									</div>

								</div>
								<!-- /Comment Form -->
								
							</div>

							{% endcomment %}

						</div>
						<!-- /Post -->

					</div>
					<!-- /Blog Posts -->

				</div>
				
				<div class="col-md-4 section">

					<!-- Blog Sidebar -->
					<div class="blog_sidebar">

						{% comment %}
						<div class="widgetbox categories">
							<h4 class="title"><span></span></h4>

							<ul>
								<li>
									<a href="#" class="title">WEB DESIGN</a>
								</li>
								<li>
									<a href="#" class="title">PHOTOGRAPHY</a>
								</li>
								<li>
									<a href="#" class="title">ART</a>
								</li>
								<li>
									<a href="#" class="title">UI/UX DESIGN</a>
								</li>
								<li>
									<a href="#" class="title">LOGO</a>
								</li>
							</ul>
						</div>
						{% endcomment %}
						{% if related %}
						<div class="widgetbox categories recent_posts">
							<h4 class="title"><span>{% trans 'RELATED NEWS' %}</span></h4>
							<ul>
								{% for r in related %}
								<li>
									<a href="{% url 'news:news-detail' slug=r.slug %}" class="title">{{ r.title }}</a>
									<a href="#" class="date">{{ r.created|date:'d/m/Y' }}</a>
								</li>
								{% empty %}
								{% endfor %}
							</ul>
						</div>
						{% endif %}
						{% regroup related by created|date:"Y" as related_by_years %}
						<div class="widgetbox categories">
							<h4 class="title"><span>{% trans 'ARCHIVE' %}</span></h4>
							<ul>
							{% for year_related in related_by_years %}
								{% regroup year_related.list by created|date:"F" as related_by_months %}
								{% for r in related_by_months %}
									<li>
										<a href="{% url 'news:news-list' year=year_related.grouper month=year_related.list.0.created|date:'n' %}">{{r.grouper}} {{ year_related.grouper }}</a>
									</li>
								{% endfor %}
							{% endfor %}
							</ul>
						</div>

						<div class="widgetbox social">
							<h4 class="title"><span>{% trans 'CONNECT WITH US' %}</span></h4>

							<div class="icons">
								<a href="https://www.facebook.com/rigeneralab/" target="_blank" class="ti-facebook facebook_bg"></a>
								<a href="https://www.youtube.com/channel/UCtf0hK2i3sPaFMOLgILEyMA" target="_blank" class="ti-youtube youtube_bg"></a>
								{% comment %}
								<a href="#" class="ti-twitter twitter_bg"></a>
								<a href="#" class="ti-linkedin linkedin_bg"></a>
								<a href="#" class="ti-github github_bg"></a>
								<a href="#" class="ti-dribbble dribbble_bg"></a>
								<a href="#" class="ti-wordpress wordpress_bg"></a>
								{% endcomment %}
							</div>

					</div>
					<!-- /Blog Sidebar -->
				</div>
			</div>
		</div>
	</section>
	<!-- /Content -->
{% endblock page_content %}