{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}

{% block page_content %}

	<!-- Content -->
	<section id="content" class="blog">

		<!-- Top Cover -->
		{% if object.cover_img %}
			{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
			<div class="top_cover news" style="background-image: url({{im.url}})">
				<div class="overlay">
					<div class="vertical_align">
						<h1 class="title">
							<span class="title">{% trans 'NEWS' %}</span>
							<span class="sep"></span>
							<span class="subtitle">
								{% if created %}
									{{created|date:'F Y'}}
								{% else %}
									{% trans "NEWS FROM RIGENERA" %}
								{% endif %}
							</span>
						</h1>
					</div>
				</div>
			</div>
			{% endthumbnail %}
		{% else %}
			<div class="top_cover news">
				<div class="overlay">
					<div class="vertical_align">
						<h1 class="title">
							<span class="title">{% trans 'NEWS' %}</span>
							<span class="sep"></span>
							<span class="subtitle">
								{% if created %}
									{{created|date:'F Y'}}
								{% else %}
									{% trans "NEWS FROM RIGENERA" %}
								{% endif %}
							</span>
						</h1>
					</div>
				</div>
			</div>
		{% endif %}
		<!-- /Top Cover -->

		<div class="container">
			<div class="row">
				<div class="col-md-12 section">

					<!-- Blog Posts -->
					{% if tags %}
						<h2 class="title">
							Tag: #{{tags|upper}}	
						</h2>
					{% endif %}
					<div class="excerpt">
						{{object.content|safe}}
					</div>
					<div class="blog_posts default">

						{% for item in object_list %}
							<!-- Post -->
							<div class="post">
								
								<div class="media">
									<a href="{% url 'news:news-detail' slug=item.slug %}">
										{% thumbnail item.cover_img.image "1400x350" crop="center" as im %}
										    <img src="{{im.url}}" alt="{{ item.title }}" />
										{% endthumbnail %}
									</a>
								</div>

								<h2 class="title">
									<a href="{% url 'news:news-detail' slug=item.slug %}">{{item.title}}</a>
								</h2>

								<div class="meta">
									{% if item.tags.all|length > 0 %}
										{% for tag in item.tags.all %}
											<span class="tags">
												<a href="{% url 'news:news-list' %}?tags={{tag.name}}">{{tag.name}}</a>
											</span>
										{% empty %}
										{% endfor %}
									{% endif %}

									<span class="sep">&mdash;</span>
									<a href="{% url 'news:news-detail' slug=item.slug %}" class="date">{{item.created|date:"j M Y"}}</a>
								</div>

								<div class="excerpt">
									{{item.excerpt|safe}}
								</div>

								<div class="actions">
									<a href="{% url 'news:news-detail' slug=item.slug %}" class="button border">{% trans "READ MORE" %}</a>
								</div>

							</div>
							<!-- /Post -->
						{% empty %}
							<div class="item web_design art bgcolor1 light_color">
							</div>
						{% endfor %}

					</div>
					<!-- /Blog Posts -->

					{% if is_paginated %}
						<!-- Blog Pagination -->
						<div class="pagination_container">
							<nav>
								<ul class="pagination">
							    	{% if page_obj.has_previous %}
							    		<li>
								    		<a href="{% url 'news:news-list' %}" class="ti-angle-double-left"></a>
								    	</li>
								    	<li>
								    		<a href="{% url 'news:news-list' %}?page={{ page_obj.previous_page_number }}" class="ti-angle-left"></a>
								    	</li>
								    	<li>
								    		<a href="{% url 'news:news-list' %}?page={{ page_obj.previous_page_number }}" class="">{{ page_obj.previous_page_number }}</a>
								    	</li>
							    	{% endif %}
							    	<li class="active">
							    		<a href="#">{{page_obj.number}}</a>
							    	</li>
							    	{% if page_obj.has_next %}
							    	<li>
							    		<a href="{% url 'news:news-list' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
							    	</li>
							    	<li>
							    		<a href="{% url 'news:news-list' %}?page={{ page_obj.next_page_number }}" class="ti-angle-right"></a>
							    	</li>
							    	<li>
							    		<a href="{% url 'news:news-list' %}?page={{page_obj.paginator.num_pages}}" class="ti-angle-double-right"></a>
							    	</li>
							    	{% endif %}
								</ul>
							</nav>
						</div>
						<!-- /Blog Pagination -->
					{% endif %}

				</div>
			</div>
		</div>

	</section>
	<!-- /Content -->
{% endblock page_content %}