{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}


{% block page_content %}
	<!-- Content -->
		<section id="content" class="portfolio">

			<!-- Top Cover -->
			{% if object.cover_img %}
				{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
				<div class="top_cover spaces" style="background-image: url({{im.url}})">
			
					<div class="overlay">
						<div class="vertical_align">
							<h1 class="title"><span class="title">SPAZI</span><span class="sep"></span><span class="subtitle">GLI SPAZI DEL LABORATORIO</span></h1>
						</div>
					</div>
				</div>
				{% endthumbnail %}
			{% else %}
				<div class="top_cover spaces">
					<div class="overlay">
						<div class="vertical_align">
							<h1 class="title"><span class="title">SPAZI</span><span class="sep"></span><span class="subtitle">GLI SPAZI DEL LABORATORIO</span></h1>
						</div>
					</div>
				</div>
			{% endif %}
			<!-- /Top Cover -->

			<div class="container-fluid">
				<div class="row">

					<div class="section no-padding-left no-padding-right no-padding-bottom">

						<!-- Portfolio Grid Filter -->
						<ul class="portfolio_grid_filter hidden">
							<li class="label">FILTERS:</li>
							<li class="active" data-filter="*">ALL</li>
							<li data-filter=".web_design">WEB DESIGN</li>
							<li data-filter=".logo">LOGO</li>
							<li data-filter=".photography">PHOTOGRAPHY</li>
							<li data-filter=".art">ART</li>
						</ul>
						<!-- /Portfolio Grid Filter -->
						{% if tags %}
							<h2 class="title">
								Tag: #{{tags|upper}}	
							</h2>
						{% endif %}
						<!-- Portfolio Grid -->
						<div class="portfolio_grid masonryWrapper" data-cols="2">
							{% for item in object_list %}
								<div class="item web_design art bgcolor1 light_color">
									<div class="overlay">
										<div class="inner">
											<h3 class="title">{{ item.title }}</h3>
											<div class="separator vertical center"></div>
											<h6 class="tagline">
												{% if item.tags.all|length > 0 %}
													{% for tag in item.tags.all %}
														<span>{{tag.name}}</span>
													{% empty %}
													{% endfor %}
												{% endif %}
											</h6>
										</div>
										<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
									</div>
									<a href="{% url 'rooms:room-detail' slug=item.slug %}" class="hover_link"></a>
									{% thumbnail item.cover_img.image "1400x1080" crop="center" as im %}
									    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
									{% endthumbnail %}
								</div>
							{% empty %}
								<div class="item web_design art bgcolor1 light_color">
								</div>
							{% endfor %}
							{% comment %}
							<div class="item web_design art bgcolor1 light_color">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">GREAT ARCHITECTS</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">ART</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/1.jpg" alt="portfolio image" />
							</div>
							<div class="item photography logo">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">BATTERY TROOP</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">LOGO</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/2.jpg" alt="portfolio image" />
							</div>
							<div class="item web_design art bgcolor8 light_color">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">D&amp;G GLASSES</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">WEB DESIGN</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/3.jpg" alt="portfolio image" />
							</div>
							<div class="item art logo">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">TYPOGRAPHY</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">ART</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/4.jpg" alt="portfolio image" />
							</div>
							<div class="item web_design photography logo bgcolor2 light_color">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">BACKGROUND</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">PHOTOGRAPHY</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/5.jpg" alt="portfolio image" />
							</div>
							<div class="item art photography">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">CUBE</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">ART</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/6.jpg" alt="portfolio image" />
							</div>
							<div class="item logo photography bgcolor8 light_color">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">CLOCK</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">LOGO</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/7.jpg" alt="portfolio image" />
							</div>
							<div class="item web_design art logo">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">PAPER</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">ART</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/8.jpg" alt="portfolio image" />
							</div>
							<div class="item photography art">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">SMOKE</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">PHOTOGRAPHY</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/9.jpg" alt="portfolio image" />
							</div>
							<div class="item web_design logo bgcolor10 light_color">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">DESK</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">LOGO</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/10.jpg" alt="portfolio image" />
							</div>
							<div class="item photography web_design bgcolor9 light_color">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">LANDSCAPE</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">PHOTOGRAPHY</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/11.jpg" alt="portfolio image" />
							</div>
							<div class="item art logo">
								<div class="overlay">
									<div class="inner">
										<h3 class="title">COFFEE</h3>
										<div class="separator vertical center"></div>
										<h6 class="tagline">ART</h6>
									</div>
									<a href="#" class="goto_project"><i class="ti-arrow-down"></i></a>
								</div>
								<a href="portfolio_single.html" class="hover_link"></a>
								<img src="assets/img/portfolio/12.jpg" alt="portfolio image" />
							</div>
							{% endcomment %}
							<div class="clear"></div>
						</div>
						<!-- /Portfolio Grid -->

					</div>

				</div>
			</div>


		</section>
		<!-- /Content -->
{% endblock page_content %}