{% extends 'base_site.html' %}
{% load thumbnail %}
{% load i18n %}

{% block og_sharing_meta %}

<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{object.title}}" />
<meta property="og:description"        content="{{object.excerpt}}" />
{% thumbnail object.cover_img.image "1920x1080" crop="center" as im %}
<meta property="og:image"              content="{{im.url}}" />
{% endthumbnail %}

{% endblock og_sharing_meta %}

{% block page_content %}
<!-- Content -->
	<section id="content" class="portfolio">
		<!-- Top Cover -->
		{% thumbnail object.cover_img.image "1400x1080" crop="center" as im %}
		    
		<div class="top_cover about" style="background-image: url({{im.url}}); {% if object.slug == 'web-radio-radio-di-comunita' %}background-position: center 30%{% endif %}">
			<div class="overlay">
				<div class="vertical_align">
					<h1 class="title"><span class="title">{{object.title|upper}}</span>{% if object.subtitle %}<span class="sep"></span><span class="subtitle">{{object.subtitle|upper}}</span>{% endif %}</h1>
				</div>
			</div>
		</div>
		{% endthumbnail %}
		<!-- /Top Cover -->

		<div class="container-fluid">
			<div class="row">

				<div class="section no-padding-left no-padding-right no-padding-bottom">

					{% if object.gallery %}
					<!-- Section Title -->
					<div class="section_title">
						<h1 class="title">{{object.gallery.title}}</h1>
						<span class="hor_sep"></span>
						<h6 class="subtitle">{{object.gallery.description}}</h6>
					</div>
					<!-- /Section Title -->

					<!-- Gallery Items -->
					<div class="gallery_items popup-gallery row">
						{% for photo in object.gallery.photos.all %}
							<div class="item col-md-3">
								{% thumbnail photo.image "1400x1080" crop="center" as im %}
									<div class="overlay">
										<a href="{{im.url}}" class="ti-eye icon"></a>
									</div>
									<img src="{{im.url}}" alt="{{object.title}}" />
								{% endthumbnail %}
							</div>
						{% endfor %}
					</div>
					<!-- /Gallery Items -->

					{% endif %}

					<!-- Project Information -->
					<div class="portfolio_project_info col-md-8 col-md-offset-1">
						
						<article class="item">
							{{object.content|safe|escape}}
						</article>
						

						
						{% if object.fb_link %}
							<div class="item">

								<h3>SOCIAL</h3>

								<a href="{{object.fb_link}}" target="_blank" class="ti-facebook facebook_bg detailSocialLink"></a>
							</div>
						{% endif %}

					</div>
					<!-- /Project Information -->

					<!-- Similar Projects -->
					{% if promotions %}
					<div class="similar_projects col-md-12">
						
						<h2 class="title">{% trans 'PROMOTIONS' %}</h2>
						<div class="hor_sep center"></div>
						
						{% for r in promotions %}
							{% thumbnail r.cover_img.image "1400x1080" crop="center" as im %}
								<div class="gallery_items popup-gallery">
									<div class="item col-md-4">
										<div class="overlay">
											<a href="{% url 'events:event-detail' slug=r.slug %}" class="title">{{ r.title }}</a>
										</div>
										<img src="{{im.url}}" alt="{{r.title}}" />
									</div>
								</div>
							{% endthumbnail %}
						{% empty %}
						{% endfor %}
					</div>
					{% endif %}
					<!-- /Similar Projects -->
					<!-- Similar Projects -->
					{% if related %}
					<div class="similar_projects col-md-12">
						
						<h2 class="title">{% trans 'RELATED SPACES' %}</h2>
						<div class="hor_sep center"></div>
						
						{% for r in related %}
							{% thumbnail r.cover_img.image "1400x1080" crop="center" as im %}
								<div class="gallery_items popup-gallery">
									<div class="item col-md-4">
										<div class="overlay">
											<a href="{% url 'rooms:room-detail' slug=r.slug %}" class="title">{{ r.title }}</a>
										</div>
										<img src="{{im.url}}" alt="{{r.title}}" />
									</div>
								</div>
							{% endthumbnail %}
						{% empty %}
						{% endfor %}
					</div>
					{% endif %}
					<!-- /Similar Projects -->

					<div class="clear"></div>

				</div>

			</div>
		</div>


	</section>
	<!-- /Content -->
{% endblock page_content %}