{% extends 'base_site.html' %}
{% load thumbnail %}


{% block page_content %}
	<!-- Content -->
		<section id="content" class="blog">
			<!-- Top Cover -->
			<div class="top_cover about">
				<div class="overlay">
					<div class="vertical_align">
						<h1 class="title"><span class="title">EVENTI</span><span class="sep"></span><span class="subtitle">I NOSTRI EVENTI</span></h1>
					</div>
				</div>
			</div>
			<!-- /Top Cover -->

			<div class="container">
				<div class="row">
					<div class="col-md-12 section no-padding-left no-padding-right">

						<!-- Blog Posts -->
						<div class="blog_posts alternative">
							
							{% for item in object_list %}
							<!-- Post -->
							<div class="post">
								
								<div class="media col-md-4">
									<a href="{% url 'events:event-detail' slug=item.slug %}">
										{% thumbnail item.cover_img.image "1400x1080" crop="center" as im %}
										    <img src="{{im.url}}" alt="blog post image" />
										{% endthumbnail %}
									</a>
								</div>

								<div class="col-md-6 body">

									<h2 class="title">
										<a href="{% url 'events:event-detail' slug=item.slug %}">{{item.title}}</a>
									</h2>

									<div class="meta">
										{% if item.tags.all|length > 0 %}
											{% for tag in item.tags.all %}
												<a href="#">{{tag.name}}</a>
											{% empty %}
											{% endfor %}
										{% endif %}
										<span class="sep">&mdash;</span>
										<a href="{% url 'events:event-detail' slug=item.slug %}" class="date">{{item.event_start_date}}</a>
									</div>

									<div class="excerpt">
										{{item.excerpt|safe|truncatechars:260}}
									</div>

								</div>

								<div class="col-md-2 actions">

									<a href="{% url 'events:event-detail' slug=item.slug %}" class="button border">{% trans "READ MORE" %}</a>

								</div>

								<div class="clear"></div>

							</div>
							<!-- /Post -->
							{% empty %}
								<div class="item web_design art bgcolor1 light_color">
									Non ci sono ancora articoli inseriti.
								</div>
							{% endfor %}

						</div>
						<!-- /Blog Posts -->

						{% if is_paginated %}
							<!-- Blog Pagination -->
							<div class="pagination_container">
								<nav>
									<ul class="pagination">
								    	{% if page_obj.has_previous %}
								    		<li>
									    		<a href="{% url 'events:events-list' %}" class="ti-angle-double-left"></a>
									    	</li>
									    	<li>
									    		<a href="{% url 'events:events-list' %}?page={{ page_obj.previous_page_number }}" class="ti-angle-left"></a>
									    	</li>
									    	<li>
									    		<a href="{% url 'events:events-list' %}?page={{ page_obj.previous_page_number }}" class="">{{ page_obj.previous_page_number }}</a>
									    	</li>
								    	{% endif %}
								    	<li class="active">
								    		<a href="#">{{page_obj.number}}</a>
								    	</li>
								    	{% if page_obj.has_next %}
								    	<li>
								    		<a href="{% url 'events:events-list' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
								    	</li>
								    	<li>
								    		<a href="{% url 'events:events-list' %}?page={{ page_obj.next_page_number }}" class="ti-angle-right"></a>
								    	</li>
								    	<li>
								    		<a href="{% url 'events:events-list' %}?page={{page_obj.paginator.num_pages}}" class="ti-angle-double-right"></a>
								    	</li>
								    	{% endif %}
									</ul>
								</nav>
							</div>
							<!-- /Blog Pagination -->
						{% endif %}

					</div>
				</div>
			</div>
		</section>
		<!-- /Content -->
{% endblock page_content %}