{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load i18n %}

{# show_menu 0 100 100 100 #}

{% block page_content %}
<!-- Content -->
<section id="content" class="fullscreen_slider">

	<!-- Top Cover -->
	{% placeholder "Cover" %}
	<!-- /Top Cover -->

	<div class="container">
		<div class="row">

			<div class="section">

				<div class="section_title">
					<h1 class="title">WHERE YOU CAN BE YOURSELF</h1>
					<span class="hor_sep"></span>
					<h6 class="subtitle">#Rigenerawhereyoucanbeyourself</h6>
				</div>

				<!-- About We -->
				
				<div class="row">
					<div class="about_we">
						{% placeholder "about us" %}
					</div>
				</div>
				<!-- /About We -->

			</div>

		</div>
	</div>

	<!-- Testimonials -->
	<div class="parallax_item testimonials">
		<div class="parallax_content">
			<div class="inner">
				<div class="section_title">
					<h1 class="title">PARTNERS</h1>
					<span class="hor_sep"></span>
				</div>

				<div class="col-md-6 col-md-offset-3">
					<div class="testimonials_items owl-theme owl-carousel">
						{% placeholder "Partners" %}
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
	<!-- /Testimonials -->

	<div class="container-fluid">
		<div class="row">
			
			<div class="team_container">
				
				<!-- Team Members -->
				<div class="team_members row">

					<div class="section_title light">
						<h1 class="title">OUR TEAM</h1>
						<span class="hor_sep"></span>
					</div>

					<div class="col-md-12 masonryWrapper" data-cols="6">
						{% placeholder 'staff' %}
						{% comment %}
						<div class="member col-md-3">
							<div class="top">
								<div class="overlay">
									<div class="social_icons">
										<div class="top_border"></div>
										<a href="#" class="i1"><i class="ti-facebook"></i></a>
										<a href="#" class="i2"><i class="ti-twitter"></i></a>
										<a href="#" class="i3"><i class="ti-github"></i></a>
										<a href="#" class="i4"><i class="ti-linkedin"></i></a>
										<div class="bottom_border"></div>
									</div>
								</div>
								<img src="assets/img/members/1.jpg" alt="team member image" />
							</div>
							<div class="bot">
								<h3 class="name">JOHN DOE</h3>
								<div class="sep"></div>
								<h6 class="position">FOUNDER</h6>
							</div>
						</div>
						<div class="member col-md-3">
							<div class="top">
								<div class="overlay">
									<div class="social_icons">
										<div class="top_border"></div>
										<a href="#" class="i1"><i class="ti-facebook"></i></a>
										<a href="#" class="i2"><i class="ti-twitter"></i></a>
										<a href="#" class="i3"><i class="ti-github"></i></a>
										<a href="#" class="i4"><i class="ti-linkedin"></i></a>
										<div class="bottom_border"></div>
									</div>
								</div>
								<img src="assets/img/members/2.jpg" alt="team member image" />
							</div>
							<div class="bot">
								<h3 class="name">JENNIFER DOE</h3>
								<div class="sep"></div>
								<h6 class="position">FOUNDER</h6>
							</div>
						</div>
						<div class="member col-md-3">
							<div class="top">
								<div class="overlay">
									<div class="social_icons">
										<div class="top_border"></div>
										<a href="#" class="i1"><i class="ti-facebook"></i></a>
										<a href="#" class="i2"><i class="ti-twitter"></i></a>
										<a href="#" class="i3"><i class="ti-github"></i></a>
										<a href="#" class="i4"><i class="ti-linkedin"></i></a>
										<div class="bottom_border"></div>
									</div>
								</div>
								<img src="assets/img/members/3.jpg" alt="team member image" />
							</div>
							<div class="bot">
								<h3 class="name">MARK DOE</h3>
								<div class="sep"></div>
								<h6 class="position">DEVELOPER</h6>
							</div>
						</div>
						<div class="member col-md-3">
							<div class="top">
								<div class="overlay">
									<div class="social_icons">
										<div class="top_border"></div>
										<a href="#" class="i1"><i class="ti-facebook"></i></a>
										<a href="#" class="i2"><i class="ti-twitter"></i></a>
										<a href="#" class="i3"><i class="ti-github"></i></a>
										<a href="#" class="i4"><i class="ti-linkedin"></i></a>
										<div class="bottom_border"></div>
									</div>
								</div>
								<img src="assets/img/members/4.jpg" alt="team member image" />
							</div>
							<div class="bot">
								<h3 class="name">ZOEY DOE</h3>
								<div class="sep"></div>
								<h6 class="position">DESIGNER</h6>
							</div>
						</div>
						{% endcomment %}
					</div>
				</div>
				<!-- /Team Members -->

			</div>

		</div>
	</div>

</section>
<!-- /Content -->
{% endblock page_content %}