{% extends 'base_site.html' %}
{% load menu_tags cms_tags %}
{% load i18n %}

{% block page_content %}
	<!-- Content -->
	<section id="content" class="contact">

		<!-- Top Cover -->
		{% placeholder "Cover" %}
		<!-- /Top Cover -->

		<div class="container-fluid">
			<div class="row">
				<!-- Contact BG Image -->
				<div class="col-md-6 contact_bg_image equal_heights" style="background:#0072ac;">
					<div class="overlay">
						<div class="inner">
							<div class="contact_items">
								<div class="item">
									<i class="ti-location-pin"></i>
									<div class="text">
										Palo del Colle (BA)
									</div>
								</div>
								<div class="item">
									<i class="ti-mobile"></i>
									<div class="text">
										+ 39 329 933 1449
									</div>
								</div>
								<div class="item">
									<i class="ti-email"></i>
									<div class="text">
										<a href="mailto:contact@website.com?Subject=Hello" target="_top">info@rigeneralab.org</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Contact BG Image -->

				<!-- Contact Body -->
				<div class="col-md-6 contact_body equal_heights">
					<form class="contact_form">
						{% csrf_token %}
						<h2 class="title">{% trans 'LEAVE A MESSAGE' %}</h2>

						<div class="hor_sep"></div>

						<div class="form_row">
							<input type="text" value="" class="inputfield cf_name" placeholder="{% trans 'Your Name' %}" />
						</div>
						<div class="form_row">
							<input type="email" value="" class="inputfield cf_email" placeholder="{% trans 'Your Email' %}" />
						</div>
						<div class="form_row">
							<textarea class="inputfield cf_message" placeholder="{% trans 'Your Message' %}"></textarea>
						</div>
						<div class="form_row">
							<div class="customCheckboxWrapper">
								<input type="checkbox" name="privacy" required id="privacy" class="inputfield cf_name"/>
								<label class="customCheckboxLabel" for="privacy">
									{% page_url 'cookie_policy'  as privacy_url %}
									{% blocktrans %}
										Dichiaro espressamente di aver preso visione e di aver compreso l’<a target="_blank" href="{{privacy_url}}">informativa privacy e cookie</a>
									{% endblocktrans %}
								</label>
							</div>
						</div>
						<div class="form_row">
							<div class="customCheckboxWrapper">
								<input type="checkbox" name="marketing" required id="marketing" class="inputfield cf_name"/>
								<label class="customCheckboxLabel" for="marketing">
									{% page_url 'cookie_policy'  as privacy_url %}
									{% blocktrans %}
										Dichiaro di prestare il mio consenso ai trattamenti per finalità di marketing indicati nell’<a target="_blank" href="{{privacy_url}}">informativa privacy e cookie</a>
									{% endblocktrans %}
								</label>
							</div>
						</div>
						<div class="form_row">
							<a href="#" class="button cf_send_message">{% trans 'SEND' %}</a>
						</div>
						<div class="form_row">
							<div class="messages">error messages</div>
						</div>

					</form>
					<div class="loaderWrapper">
						<div class="loader"></div>
					</div>
				</div>
				<!-- /Contact Body -->

			</div>
		</div>

		<!-- Google Map -->
		<div id="gmap"></div>
		<!-- /Google Map -->

	</section>
	<!-- /Content -->
{% endblock page_content %}