{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load i18n %}

{# show_menu 0 100 100 100 #}

{% block page_content %}
<!-- Content -->
<section id="content" class="fullscreen_slider">

	<!-- Top Cover -->
	{% placeholder "Cover" %}
	<!-- /Top Cover -->

	<div class="container">
		<div class="row">

			<div class="section">

				{% placeholder "header" %}

				<!-- About We -->
				
				<div class="row">
					<div class="about_we">
						{% placeholder "content" %}
					</div>
				</div>
				<!-- /About We -->

			</div>

		</div>
	</div>
</section>
<!-- /Content -->
{% endblock page_content %}