{% load i18n menu_tags %}

{% if languages|length > 1 %}
{% for language in languages %}

	{% if alt_urls %}
		{% for key, value in alt_urls.items %}
			{% if language.0 == key %}
				<li class="lang{% if current_language == key %} active{% endif %} lang-{{key}}" >
					<a class="ir" hreflang="{{ key }}" href="{{ value }}" title="{% trans "Change to language:" %} {{ key }}">{{value}}</a>
				</li>
			{% endif %}
		{% endfor %}
	{% else %}
		<li class="lang{% if current_language == language.0 %} active{% endif %} lang-{{language.0}}" >
			<a class="ir" href="{% page_language_url language.0 %}" title="{% trans "Change to language:" %} {{ language.1 }}">{{ language.1 }}</a>
		</li>
	{% endif %}
{% endfor %}
{% endif %}