{% load menu_tags %}

{% for child in children %}

<li class="child{% if child.selected %} selected active{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" data-page='{{child.get_absolute_url}}'>{{ child.get_menu_title|upper }}</a>
	{% comment %}
	{% if child.children %}
	<ul>
		{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
	</ul>
	{% endif %}
	{% endcomment %}
</li>
{% endfor %}