{% extends 'base_site.html' %}
{% load cms_tags %}
{% load menu_tags %}
{% load i18n %}

{# show_menu 0 100 100 100 #}

{% block page_content %}
<!-- Content -->
<section id="content" class="fullscreen_slider">

	<!-- Top Cover -->
	{% placeholder "Cover" %}
	<!-- /Top Cover -->

	<div class="container">
		<div class="row">

			<div class="section">

				<div class="section_title">
					<h2 class="title">{% trans 'SPONSORS' %}</h2>
					<span class="hor_sep"></span>
					<h6 class="subtitle">#Rigenerawhereyoucanbeyourself</h6>
				</div>

				<!-- About We -->
				
				<div class="row">
					<div class="about_we">
						{% placeholder "testo" %}
					</div>
				</div>
				<!-- /About We -->

			</div>

		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			
			<div class="team_container">
				
				<!-- Team Members -->
				<div class="team_members row">

					<div class="col-md-12 masonryWrapper" data-cols="2">
						{% placeholder 'sponsor' %}
					</div>
				</div>
				<!-- /Team Members -->

			</div>

		</div>
	</div>

</section>
<!-- /Content -->
{% endblock page_content %}