{% load menu_tags %}

{% for child in children %}
	
	
	<div class="menu" {% if child.children %}data-page='{{child.get_absolute_url}}'{% endif %}>
		<h3 class="title">
			<a href="{{child.get_absolute_url}}">{{child.title|upper}}</a>
		</h3>
		<ul>
		{% if child.children %}
		
			{% for c in child.children %}
			<li>
				<a href="{{c.get_absolute_url}}">{{c.title|upper}}</a>
			</li>
			{% empty %}
			{% endfor %}
		{% endif %}
		</ul>
	</div>
	
{% endfor %}