{% load thumbnail %}
{% thumbnail instance.cover_img "1920x1080" crop="center" as im %}
<div class="col-md-6 contact_bg_image equal_heights" style="background-image: url({{im.url}})">
	<div class="overlay">
		<div class="inner">
			<div class="contact_items">
				<div class="item">
					<i class="ti-location-pin"></i>
					<div class="text">
						Palo del Colle (BA)
					</div>
				</div>
				<div class="item">
					<i class="ti-mobile"></i>
					<div class="text">
						+ 39 329 933 1449
					</div>
				</div>
				<div class="item">
					<i class="ti-email"></i>
					<div class="text">
						<a href="mailto:contact@website.com?Subject=Hello" target="_top">info@rigeneralab.org</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endthumbnail %}