{% load thumbnail %}

{% if instance.gallery %}
	
	<div class="owl-carousel owl-theme slideshow with_dots slider1 fullscreen autoplay" data-autoplay-timeout="5000">
		{% for photo in instance.gallery.photos.all %}
		<div class="slide">
			<div class="overlay">
				<div class="inner">
					<h1 class="title">{{ photo.title|upper }}</h1>
					<div class="sep"></div>
					<h5 class="subtitle">{{photo.caption|upper}}</h5>
				</div>
			</div>
			{% thumbnail photo.image "1920x1080" crop="center" as im %}
			<div class="slide_bg" style="background-image: url({{im.url}})"></div>
			{% endthumbnail %}	
		</div>
		{% endfor %}
	</div>
{% endif %}
{% comment %}
<div class="owl-carousel owl-theme slideshow with_dots slider1 fullscreen autoplay" data-autoplay-timeout="5000">
	<div class="slide">
		<div class="overlay">
			<div class="inner">
				<h1 class="title">WHERE YOU CAN BE YOURSELF</h1>
				<div class="sep"></div>
				<h5 class="subtitle">Laboratorio Urbano &#9679; Factory &#9679; Workshop &#9679; Music &#9679; Cinema &#9679; Dance &#9679; Theater</h5>
			</div>
		</div>
		<div class="slide_bg image_1"></div>
	</div>
	<div class="slide">
		<div class="overlay">
			<div class="inner">
				<h1 class="title">CREATIVE LAB</h1>
				<div class="sep"></div>
				<h5 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
			</div>
		</div>
		<div class="slide_bg image_2"></div>
	</div>
	<div class="slide">
		<div class="overlay">
			<div class="inner">
				<h1 class="title">BOOKSHOP & BOOKCROSSING</h1>
				<div class="sep"></div>
				<h5 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
			</div>
		</div>
		<div class="slide_bg image_4"></div>
	</div>
	<div class="slide">
		<div class="overlay">
			<div class="inner">
				<h1 class="title">RIGENERA SOCIAL KITCHEN</h1>
				<div class="sep"></div>
				<h5 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
			</div>
		</div>
		<div class="slide_bg image_3"></div>
	</div>
	<div class="slide">
		<div class="overlay">
			<div class="inner">
				<h1 class="title">POTERE ALLE PERSONE</h1>
				<div class="sep"></div>
				<h5 class="subtitle">Crediamo nel potere delle persone e delle loro idee.</h5>
			</div>
		</div>
		<div class="slide_bg image_5"></div>
	</div>
</div>
{% endcomment %}