{% load thumbnail %}

{% comment %}
{% thumbnail item.image "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

{% endcomment %}


<div class="item member col-md-2 partner">
	<div class="top">
		{% if instance.fb_link or instance.twitter_link or instance.instagram_link or instance.linkedin_link or instance.email  %}
		<div class="overlay">
			<div class="social_icons">
				<div class="top_border"></div>
				{% if instance.fb_link %}<a href="{{instance.fb_link}}" class="i1" target="_blank"><i class="ti-facebook"></i></a>{% endif %}
				{% if instance.twitter_link %}<a href="{{instance.twitter_link}}" class="i2"><i class="ti-twitter"></i></a>{% endif %}
				{% if instance.instagram_link %}<a href="{{instance.instagram_link}}" class="i3"><i class="ti-instagram"></i></a>{% endif %}
				{% if instance.linkedin_link %}<a href="{{instance.linkedin_link}}" class="i4"><i class="ti-linkedin"></i></a>{% endif %}
				{% if instance.email %}<a href="mailto:{{instance.email}}" class="i4"><i class="ti-email"></i></a>{% endif %}
				<div class="bottom_border"></div>
			</div>
		</div>
		{% endif %}
		
		{% thumbnail instance.cover_img "760x760" crop="center" as im %}
		    <img src="{{im.url}}" alt="{{instance.title}}" />
		{% endthumbnail %}
	</div>
	<div class="bot">
		<h3 class="name">{{instance.title|upper}}</h3>
		<div class="sep"></div>
		<h6 class="position">{{instance.subtitle|upper}}</h6>
		<p class="position content">{{instance.content}}</p>
	</div>
</div>