{% load thumbnail %}

<div class="item col-md-4">
	<div class="overlay">
		<div class="inner">
			<i class="ti-cut icon"></i>
			<h2 class="title">{{instance.title}}</h2>
			<div class="separator"></div>
			<h6 class="subtitle">{{instance.content}}</h6>
		</div>
	</div>
	{% thumbnail instance.cover_img "760x426" crop="center" as im %}
		<img src="{{im.url}}" alt="{{instance.title}}" />
	{% endthumbnail %}
</div>