{% load thumbnail %}

<div class="item">
	{% thumbnail instance.cover_img "760x760" crop="center" as im %}
		<img src="{{im.url}}" alt="testimonials image" />
	{% endthumbnail %}
	<h3 class="name">{{instance.title}}</h3>
	<p class="text">
		{{instance.content}}
	</p>
</div>