{% load thumbnail %}
{% if instance.id == 3238 %}
	<style type="text/css">
		.top_cover.about{
			height: 770px;
			background-position: center bottom;
		}
		@media (max-width: 767px){ 
			.top_cover.about{
				height: 210px; 
			}
		}

		@media (min-width: 768px) and (max-width: 1023px){
			.top_cover.about{
				height: 350px; 
			}
		}
	</style>
	{% thumbnail instance.cover_img "1920x1280" crop="center" as im %}
	<div class="top_cover about" style="background-image: url({{im.url}})">
		<div class="overlay" style="background:transparent !important">
			<div class="vertical_align">
			</div>
		</div>
	</div>
	{% endthumbnail %}

{% else %}
	{% thumbnail instance.cover_img "1920x1080" crop="center" as im %}
	<div class="top_cover about" style="background-image: url({{im.url}})">
		<div class="overlay" style="background:transparent !important">
			<div class="vertical_align">
			</div>
		</div>
	</div>
	{% endthumbnail %}
{% endif %}