{% load thumbnail %}
{% thumbnail instance.cover_img "1920x1080" crop="center" as im %}
<div class="top_cover about" style="background-image: url({{im.url}})">
	<div class="overlay">
		<div class="vertical_align">
			<h1 class="title"><span class="title">{{instance.title}}</span><span class="sep"></span><span class="subtitle">{{instance.subtitle}}</span></h1>
		</div>
	</div>
</div>
{% endthumbnail %}
