@import 'variables.less';
@import 'base.less';
@import 'helpers.less';
@import 'mixins.less';
@import 'typography.less';
@import 'fonts.less';

/*
	Qui gli stili custom
*/

#loading_screen{
	background: #fff;
	color: #000;
}

h1,h2,h3,h4,h5,h6,
.button,
#sidebar .inner nav > ul > li > a,
#submenu_bar ul li a,
.tabs .nav-tabs>li>a,
.gallery_items .item .overlay a.title,
.portfolio_grid_filter li,
.browse_projects .item,
.blog_sidebar .widgetbox.categories ul li a,
.shop .shop_products .product .onsale,
.shop_product_details .price
{
	.HCB;
}

#sidebar .inner .logo{
	width: 50px;
}

nav .sibling a,
nav .active a{
	text-transform: uppercase;
}

.top_cover .title span.subtitle{
	line-height: 10px;
}

#submenu_bar{
	.languageChooserWrapper{
		@media only screen and (min-width: 768px){
			display: none;
		}
	}
}

#submenu_bar a{
	display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

#submenu_bar.mobile_visible .menu> .title:after{
	content: none;
}

#submenu_bar.mobile_visible .menu> ul:after{
	margin-left: -40px;
	left: 50%;
	position: absolute;
    bottom: 0;
    width: 80px;
    height: 1px;
    background: rgba(255,255,255,.3);
    content: '';
}

.slideshow.slider1 .slide .slide_bg.image_1{
	.jpg('gallery/gallery1', 'transparent', 'no-repeat');
}

.slideshow.slider1 .slide .slide_bg.image_2{
	.jpg('gallery/gallery2', 'transparent', 'no-repeat');
}

.slideshow.slider1 .slide .slide_bg.image_3{
	.jpg('gallery/gallery3', 'transparent', 'no-repeat');
}
.slideshow.slider1 .slide .slide_bg.image_4{
	.jpg('gallery/gallery4', 'transparent', 'no-repeat');
}

.slideshow.slider1 .slide .slide_bg.image_5{
	.jpg('gallery/gallery5', 'transparent', 'no-repeat');
}

#footer{
	.imgLogo{
		width: 80px;
	}
}


.blog_posts.default {
	.post.no-border{
		border-bottom-width: 0;
		border-top-width: 0;
		border-left-width: 0;
		border-right-width: 0;
	}
}

.detailSocialLink{
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #666666;
	text-decoration: none;
	border-radius: 100%;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	&:link, &:visited, &:hover, &:active{
		text-decoration: none;
	}
}

#sidebar .inner nav>ul{
	margin-top: 4px;
}
.languageChooserWrapper{
	margin-top: 20px;
}

.languageChooser{
	margin: 0;
	padding: 0;
	text-align: center;
	li{
		list-style: none;
		display: inline-block;
		a:link, a:visited, a:hover, a:active{
			display: block;
			width: 20px;
			text-decoration: none;
			height: 15px;
			text-indent: -9999px; 
		}
		@media only screen and (max-width : 767px){
			display: inline-block !important;
			a{
				width: 30px;
				height: 20px;
			}
		}
	}

	.lang-it{
		a{
			.png('italy');
			background-size: contain;
		}
	}

	.lang-en{
		a{
			.png('uk');
			background-size: contain;
		}
	}
}

.creditsWrapper{
	font-size: 0.9em;
	margin-top: 30px;
	h5{
		margin-bottom: 5px;
	}
}

.loaderWrapper{
	opacity: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	&.active{
		height: 100%;
		opacity: 1;
		z-index: 1000;
		background: rgba(156, 156, 156, 0.4);
	}
	transition: height 1s, opacity 1s;
	.loader {
	 	font-size: 10px;
	 	margin: 50px auto;
	 	text-indent: -9999em;
	 	top: 50%;
	 	left: 50%;
	 	margin-top: -55px;
	 	margin-left: -55px;
	 	width: 11em;
	 	height: 11em;
	 	border-radius: 50%;
	 	background: #ffffff;
	 	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	 	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	 	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	 	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	 	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	 	position: relative;
	 	-webkit-animation: load3 1.4s infinite linear;
	 	animation: load3 1.4s infinite linear;
	 	-webkit-transform: translateZ(0);
	 	-ms-transform: translateZ(0);
	 	transform: translateZ(0);
	  	&:before {
			width: 50%;
			height: 50%;
			background: #d4d4d4;
			border-radius: 100% 0 0 0;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
		}
		&:after {
			/*background: #0dc5c1;*/
			background: rgba(191, 191, 191, 0.4);
			width: 75%;
			height: 75%;
			border-radius: 50%;
			content: '';
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
		@-webkit-keyframes load3 {
			0% {
			  -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
			}
			100% {
			  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
			}
		}
		@keyframes load3 {
		  	0% {
		  	  -webkit-transform: rotate(0deg);
		  	  transform: rotate(0deg);
		  	}
		  	100% {
		  	  -webkit-transform: rotate(360deg);
		  	  transform: rotate(360deg);
		  	}
		}
	}
}