.border-radius (@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;

  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.opacity (@opacity: 0.5) {
  -webkit-opacity: @opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
}

.jpg(@img: "", @color: " ", @repeat: "no-repeat", @x: "0", @y: "0", @att: " ") {
	background: e(%("%s", @color)) e(%("url(%s%s.jpg)", @path, @img)) e(%("%s", @repeat)) e(%("%s", @att)) e(%("%s", @x)) e(%("%s", @y));
}
.gif(@img: " ", @color: " ", @repeat: "no-repeat", @x: "0", @y: "0", @att: " ") {
	background: e(%("%s", @color)) e(%("url(%s%s.gif)", @path, @img)) e(%("%s", @repeat)) e(%("%s", @att)) e(%("%s", @x)) e(%("%s", @y));
}
.png(@img: " ", @color: " ", @repeat: "no-repeat", @x: "0", @y: "0", @att: " ") {
	background: e(%("%s", @color)) e(%("url(%s%s.png)", @path, @img)) e(%("%s", @repeat)) e(%("%s", @att)) e(%("%s", @x)) e(%("%s", @y));
}
.rgba( @string: "rgba(255,255,255,1)" ) {
	@parsedString: ~`(function(a){ return "rgb("+a.split(",0.").shift().split("(").pop()+")"; })( @{string})`;
	background-color: e(%("%s", @parsedString));
	background-color: e(%("%s", @string));
}
.size(@string) {
	@w: ~`(function(a){ return a.split(" × ").shift()+"px"; })( @{string})`;
	@h: ~`(function(a){ return a.split(" × ").pop()+"px"; })( @{string})`;
	width:@w;
	height:@h;
}
.position(@string) {
	@t: ~`(function(a){ return a.split(",").shift()+"px"; })( @{string})`;
	@l: ~`(function(a){ return a.split(",").pop()+"px"; })( @{string})`;
	top:@t;
	left:@l;
}
.positiontl(@string) {
	@t: ~`(function(a){ return a.split(",").shift()+"px"; })( @{string})`;
	@l: ~`(function(a){ return a.split(",").pop()+"px"; })( @{string})`;
	top:@t;
	left:@l;
}
.positiontr(@string) {
	@t: ~`(function(a){ return a.split(",").shift()+"px"; })( @{string})`;
	@r: ~`(function(a){ return a.split(",").pop()+"px"; })( @{string})`;
	top:@t;
	right:@r;
}
.positionbl(@string) {
	@b: ~`(function(a){ return a.split(",").shift()+"px"; })( @{string})`;
	@l: ~`(function(a){ return a.split(",").pop()+"px"; })( @{string})`;
	bottom:@b;
	left:@l;
}
.positionbr(@string) {
	@b: ~`(function(a){ return a.split(",").shift()+"px"; })( @{string})`;
	@r: ~`(function(a){ return a.split(",").pop()+"px"; })( @{string})`;
	bottom:@b;
	right:@r;
}
.pie(){
	behavior: url(@PIEHTC);
}
.font-size(@font-size: 16){
	@em:e(%("%sem", (@font-size / 16)));
	font-size: @em;
}
.h(@size: 16, @ref:16){
	@b: ~`(function(a,b){ return (a/b).toFixed(4)+"em"; })( @{size},@{ref})`;
	height: @b;
}
.w(@size: 16, @ref:16){
	@b: ~`(function(a,b){ return (a/b).toFixed(4)+"em"; })( @{size},@{ref})`;
	width: @b;
}
.mh(@size: 16, @ref:16){
	@b: ~`(function(a,b){ return (a/b).toFixed(4)+"em"; })( @{size},@{ref})`;
	min-height: @b;
}
.mxh(@size: 16, @ref:16){
	@b: ~`(function(a,b){ return (a/b).toFixed(4)+"em"; })( @{size},@{ref})`;
	max-width: @b;
}
.mw(@size: 16, @ref:16){
	@b: ~`(function(a,b){ return (a/b).toFixed(4)+"em"; })( @{size},@{ref})`;
	min-width: @b;
}
.mxw(@size: 16, @ref:16){
	@b: ~`(function(a,b){ return (a/b).toFixed(4)+"em"; })( @{size},@{ref})`;
	max-width: @b;
}
.hm(@size: 16, @ref:16){
	@b: ~`(function(a,b){ return (a/b).toFixed(4)+"em"; })( @{size},@{ref})`;
	line-height: @b;
}
//
.lh(@height: 16){
	height:@height * 1px;
	line-height:@height * 1px;
}