/*
 *	Table of Contents:
 *
 *	1. Inits
 *	2. Loading Screen
 *	3. Wrapper
 *	4. Sidebar
 *	5. Sub menu bar
 *	6. Content
 *	7. Section
 * 	8. About
 *	9. Contact
 *	10. Parallax
 *	11. Google Maps
 *	12. Gallery
 *	13. Portfolio
 *	14. Shopping cart
 *	15. Blog Posts
 *	16. Shop
 *	17. Themes
 *	18. Media Queries
 *
*/


/*
===============================================
			1. Inits
===============================================
*/

body{
	letter-spacing: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	text-transform: normal;
	font-weight: 700;
	margin-top: 0;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

h1 {
	font-size: 45px;
}

h2{
	font-size: 33px;
}

h3 {
	font-size: 23px;
}

h4 {
	font-size: 18px;
}

h5{
	font-size: 16px;
}

h6{
	font-size: 12px;
}

a{
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.clear{
	clear:both;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img{
	border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.padding-30{
	padding: 30px !important;
}

.padding-top-30{
	padding-top: 30px !important;
}

.padding-bottom-30{
	padding-bottom: 30px !important;
}

.padding-bottom-50{
	padding-bottom: 50px !important;
}

.no-padding-top{
	padding-top: 0 !important;
}

.no-padding-left{
	padding-left: 0 !important;
}

.no-padding-bottom{
	padding-bottom: 0 !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.no-padding{
	padding: 0 !important;
}

.no-margin-bottom{
	margin-bottom: 0 !important;
}

.uppercase{
	text-transform: uppercase;
}

.owl-carousel .owl-item{
	overflow: hidden;
}

a.facebook_bg:hover{
	background: #3B5999 !important;
	color: #ffffff !important;
}

a.wordpress_bg:hover{
	background: #0076A8 !important;
	color: #ffffff !important;
}

a.twitter_bg:hover{
	background: #00BAFF !important;
	color: #ffffff !important;
}

a.googleplus_bg:hover{
	background: #D94835 !important;
	color: #ffffff !important;
}

a.youtube_bg:hover{
	background: #C8302D !important;
	color: #ffffff !important;
}

a.github_bg:hover{
	background: #7197B0 !important;
	color: #ffffff !important;
}

a.dribbble_bg:hover{
	background: #E44D87 !important;
	color: #ffffff !important;
}

a.flickr_bg:hover{
	background: #0062DD !important;
	color: #ffffff !important;
}

a.tumblr_bg:hover{
	background: #35506B !important;
	color: #ffffff !important;
}

a.vk_bg:hover{
	background: #476C98 !important;
	color: #ffffff !important;
}

a.skype_bg:hover{
	background: #00A8E9 !important;
	color: #ffffff !important;
}

a.pinterest_bg:hover{
	background: #C7212D !important;
	color: #ffffff !important;
}

a.instagram_bg:hover{
	background: #BFB4A4 !important;
	color: #ffffff !important;
}

a.linkedin_bg:hover{
	background: #007BB6 !important;
	color: #ffffff !important;
}

a.vimeo_bg:hover{
	background: #4bf !important;
	color: #ffffff !important;
}

a.facebook:hover{
	color: #3B5999;
}

a.wordpress:hover{
	color: #0076A8;
}

a.twitter:hover{
	color: #00BAFF;
}

a.googleplus:hover{
	color: #D94835;
}

a.youtube:hover{
	color: #C8302D;
}

a.github:hover{
	color: #7197B0;
}

a.dribbble:hover{
	color: #E44D87;
}

a.flickr:hover{
	color: #0062DD;
}

a.tumblr:hover{
	color: #35506B;
}

a.vk:hover{
	color: #476C98;
}

a.skype:hover{
	color: #00A8E9;
}

a.pinterest:hover{
	color: #C7212D;
}

a.instagram:hover{
	color: #BFB4A4;
}

a.linkedin:hover{
	color: #007BB6;
}

a.vimeo:hover{
	color: #4bf;
}

.scroll_to_top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #000000;
    font-size: 15px;
    width: 50px;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.scroll_to_top.visible{
	opacity: 1;
	visibility: visible;
	z-index: 20;
}

.separator{
	display: block;
	margin: 15px 0;
	width: 40px;
	height: 1px;
	background: rgba(0,0,0,0.35);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.separator.center{
	margin: 15px auto;
}

.separator.vertical{
	height: 40px;
	width: 1px;
}

.owl-theme .owl-dots .owl-dot span{
	background: #bebebe;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.owl-theme .owl-dots .owl-dot:hover span{
	background: #666666;
}

.owl-theme .owl-dots .owl-dot.active span{
	background: #111111;
}

.section.elements p{
	margin-bottom: 30px;
}

.section.elements .btns a{
	margin-bottom: 10px;
	margin-right: 10px;
}

.section.elements .btns.bg{
	background: #dedede;
}

.button{
	display: inline-block;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 20px;
	background: #1d1d1d;
	color: #ffffff !important;
	text-decoration: none !important;
	font-size: 11px;
	letter-spacing: 2px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.button.border{
	border:2px solid #1d1d1d;
	box-shadow: 0 0 0 1px #ffffff inset;
}

.button.border:hover,
.button.border:focus{
	border:2px solid transparent;
}

.button.small{
	padding: 5px 10px;
}

.button.large{
	padding: 20px 40px;
}

.button.light_bg{
	background: #f5f5f5;
	color: #111111 !important;
}

.button.light_bg:hover,
.button.light_bg:focus{
	color: #ffffff !important;
}

.button.inverse:hover,
.button.inverse:focus{
	background: #111111 !important;
}

.button.inverse.border:hover,
.button.inverse.border:focus{
	border: 2px solid transparent !important;
}

.fullscreen_video{
	background: #1d1d1d;
	position: relative;
}

/* slideshow */
.slideshow{
	display: block;
	position: relative;
}

.slideshow .slide{
	height: 400px;
	position: relative;
}

.slideshow .slide .overlay,
.fullscreen_video .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	content: '';
	background: rgba(0,0,0,0.2);	
}

.slideshow .slide .overlay .inner,
.fullscreen_video .overlay .inner{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 7;
	color: #ffffff;
	width: 65%;
	text-align: center;
	text-transform: uppercase;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.slideshow .slide .overlay .inner .title,
.fullscreen_video .overlay .inner .title{
	@media (max-width: 767px) {
		font-size: 30px;
	}
	@media (min-width: 768px){
		font-size: 60px;
	}
	line-height: 1.3;
	margin: 0;
}

.slideshow .slide .overlay .inner .sep,
.fullscreen_video .overlay .inner .sep{
	margin: 30px auto;
	height: 2px;
	width: 80px;
}

.slideshow .slide .overlay .inner .subtitle,
.fullscreen_video .overlay .inner .subtitle{
	font-weight: normal;
	color: #ededed;
	margin: 0;
}

.slideshow .slide .slide_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	content: '';
    background-size: cover !important;
    background-color: #242832;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.slideshow .owl-controls .owl-dots{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
}

.slideshow .owl-controls .owl-dots .owl-dot span{
	background: #999999;
	border-radius: 0;
	width: 40px;
	height: 6px;
}

.slideshow .owl-controls .owl-dots .owl-dot:hover span,
.slideshow .owl-controls .owl-dots .owl-dot.active span{
	background: #ffffff;
}

.slideshow .owl-controls .owl-nav{
	margin: 0;
}

.slideshow .owl-controls .owl-nav .owl-prev,
.slideshow .owl-controls .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	font-size: 30px;
	color: #999999;
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.slideshow .owl-controls .owl-nav .owl-prev{
	left: 15px;
}

.slideshow .owl-controls .owl-nav .owl-next{
	right: 15px;
}

.slideshow .owl-controls .owl-nav > div:hover{
	color: #ffffff;
}

.slideshow.dark_style .owl-controls .owl-nav > div:hover{
	color: #000000;
}

.slideshow.slider1 .slide .slide_bg.image_1{
	background: url(../img/slider/1.jpg);
}

.slideshow.slider1 .slide .slide_bg.image_2{
	background: url(../img/slider/2.jpg);
}

.slideshow.slider1 .slide .slide_bg.image_3{
	background: url(../img/slider/3.jpg);
}

.fullscreen_personal_bg{
	position: relative;
    background-size: cover !important;
    background-color: #242832;
    background-repeat: no-repeat !important;
    background-position: center !important;
	background: url(../img/index_personal_bg.jpg);
}

.fullscreen_personal_bg .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
	content: '';
	z-index: 1;
}

.fullscreen_personal_bg .overlay .inner{
	position: absolute;
	left: 50%;
	top: 50%;
	color: #ffffff;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.fullscreen_personal_bg .overlay .inner .name{
	margin-bottom: 20px;
	font-size: 1.5em;
}

.fullscreen_personal_bg .overlay .inner .tagline{
	letter-spacing: 2px;
	font-size: 16px;
	margin-bottom: 20px;
}

.fullscreen_personal_bg .overlay .inner .icons{
	font-size: 0;
}

.fullscreen_personal_bg .overlay .inner .icons a{
	width: 50px;
	height: 50px;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	text-decoration: none;
	color: #ffffff;
}

.fullscreen_personal_bg .overlay .inner .icons a + a{
	margin-left: 20px;
}

.mobile_nav_box{
	display: none;
}

.mobile_nav_toggle{
	background: #111111;
	padding: 19px;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;
	font-size: 22px;
	text-decoration: none !important;
	color: #ffffff;
	display: block;
}

.mobile_nav_toggle:focus,
.mobile_nav_toggle:hover{
	color: #ffffff;
}


/*
===============================================
			2. Loading Screen
===============================================
*/
#loading_screen{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	z-index: 500;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#loading_screen.invis{
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

#loading_screen .inner{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#loading_screen .inner .text{
	font-weight: 300;
	margin-top: 15px;
	letter-spacing: 4px;
}

/*
===============================================
			3. Wrapper
===============================================
*/
#wrapper{
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-transition: all 800ms linear;
	-moz-transition: all 800ms linear;
	-o-transition: all 800ms linear;
	transition: all 800ms linear;
}

#wrapper.visible{
	opacity: 1;
	visibility: visible;
	z-index: 0;
}

/*
===============================================
			4. Sidebar
===============================================
*/
#sidebar{
	width: 240px;
	height: 100%;
	position: fixed;
	background: #ffffff;
	text-align: center;
	z-index: 5;
}

#sidebar .inner{
	position: fixed;
	left: 0;
	top: 50%;
	width: 240px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#sidebar .inner .logo{
	display: inline-block;
	width: 120px;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#sidebar .inner nav > ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 40px;
}

#sidebar .inner nav > ul > li{
	display: block;
	position: relative;
}

#sidebar .inner nav > ul > li > a{
	display: block;
	color: #333333;
	font-size: 15px;
	padding: 5px 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	position: relative;
}

/*
===============================================
			5. Sub menu bar
===============================================
*/
body.in_mobile #submenu_bar{
	left: -100%;
	width: 100%;
}
#submenu_bar{
	position: fixed;
	left: 240px;
	top: 0;
	height: 100%;
	width: 240px;
	background: #111111;
	color: #ffffff;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#submenu_bar.mobile_visible{
	width: 100%;
	left: 0 !important;
	top: 50px;
	z-index: 50;
	opacity: 1;
	visibility: visible;
	overflow: auto;
	padding: 30px 0;
	padding-bottom: 60px;
}

#submenu_bar .menu > .title{
	display: none;
}

#submenu_bar.mobile_visible .menu > .title{
	display: block;
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
}

#submenu_bar.mobile_visible .menu > .title:after{
	position: absolute;
	left: calc(50% - 40px);
	bottom: 0;
	width: 80px;
	height: 1px;
	background: rgba(255, 255, 255, 0.3);
	content: '';
}

#submenu_bar.mobile_visible .menu{
	position: relative;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	opacity: 1;
	visibility: visible;
	z-index: auto;
	width: 100%;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

#submenu_bar.mobile_visible .menu + .menu{
	margin-top: 30px;
}

#submenu_bar.visible{
	z-index: 50;
	opacity: 1;
	visibility: visible;
}

#submenu_bar .menu{
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	width: 100%;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#submenu_bar .menu.visible{
	z-index: 7;
	opacity: 1;
	visibility: visible;
}

#submenu_bar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#submenu_bar ul li{
	display: block;
}

#submenu_bar ul li a{
	display: block;
	color: #ffffff;
	padding: 5px;
	font-size: 16px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

#sidebar .social_icons{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 0;
}

#sidebar .social_icons a{
	display: inline-block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	color: #666666;
	text-decoration: none;
	border-radius: 100%;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#sidebar .social_icons a + a{
	margin-left: 5px;
}

/*
===============================================
			6. Content
===============================================
*/
#content{
	background: #f9f9f9;
	/*background: #ffffff;*/
	padding-left: 240px;
	position: relative;
	z-index: 2;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

/*
===============================================
			7. Section
===============================================
*/
.section{
	padding: 80px 20px;
}

.section.fixed-width{
	max-width: 1170px;
	margin: 0 auto;	
	padding: 50px 15px;
}

.section_title{
	margin-bottom: 80px;
	text-align: center;
}

.section_title .hor_sep{
	margin-bottom: 0;
}

.section_title.light{
	color: #ffffff;
}

.section_title.light .hor_sep{
	background: #ffffff;
}

.section_title .title{
	margin: 0;
	font-size: 30px;
}

.hor_sep{
	display: inline-block;
	width: 100px;
	margin: 30px auto;
	height: 1px;
}

.hor_sep.center{
	display: block;
}

.progress_bars .item{
	position: relative;
}

.progress_bars .item + .item{
	margin-top: 30px;
}

.progress_bars .item .title{
	margin-bottom: 10px;
}

.progress_bars .item .bar_outer{
	height: 7px;
	background: #ededed;
	position: relative;
}

.progress_bars .item .bar_outer .bar_inner{
	height: 7px;
	width: 0;
}

.progress_bars .item .bar_outer .percentage{
	position: absolute;
	right: 0;
	bottom: 100%;
}

blockquote{
	border: none;
	background: #f1f1f1;
	padding: 50px;
}

blockquote.dark{
	background: #111111;
	color: #ffffff;
}

blockquote p{
	font-size: 20px;
	margin-bottom: 30px;
}

blockquote .source{
	font-size: 12px;
	color: #999;
}

.alert{
	border-radius: 0;
}

.accordions .panel{
	border:none;
	box-shadow: none;
	background: transparent;
}

.accordions .panel .panel-heading{
	background: transparent;
	border: none;
	border-bottom: 2px solid #333333;
	border-radius: 0;
	padding: 15px;
}

.accordions .panel .panel-heading h4{
	font-weight: 300;
}

.accordions .panel .panel-body{
	border: none !important;
	padding: 15px 0;
}

.accordions .panel .panel-heading a{
	color: #555555;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.tabs .nav-tabs{
	border: none;
}

.tabs .nav-tabs>li>a{
	font-family: 'Montserrat', sans-serif;
	border: none;
	border-radius: 0;
	background: transparent;
	border-bottom: 2px solid transparent;
	color: #555555 !important;
}

.tabs .nav-tabs>li.active>a,
.tabs .nav-tabs>li.active>a:focus,
.tabs .nav-tabs>li.active>a:hover{
	border: none;
	background: transparent;
	border-bottom: 2px solid #333333;
}

.tabs .tab-content .tab-pane{
	padding: 15px 0;
}

.section_title .subtitle{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
	font-weight: normal;
	margin-top: 30px;
}

/*
===============================================
			8. About
===============================================
*/
.about_we .item{
	text-align: center;
}

.about_we .item .icon{
    display: inline-block;
    font-size: 50px;
    margin-bottom: 40px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.about_we .item .title{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 20px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.about_we .item .title:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	height: 1px;
	width: 0px;
	background: #666666;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.about_we .item:hover .title:after{
	left: calc(50% - 50px);
	width: 100px;
}

.about_we .item .description{
	color: #777777;
}

/* some stats */
.section.some_stats{
	color: #ffffff;
}

.some_stats .item{
	text-align: center;
}

.some_stats .item .title{
	font-size: 55px;
	margin-bottom: 0;
}

.some_stats .item .hor_sep{
	width: 50px;
	background: #ffffff;
}

.some_stats .item .subtitle{
	margin: 0;
	font-weight: normal;
}

/* services */
.section.services{
	padding-left: 0;
	padding-right: 0;
}

.services_items{
	position: relative;
}

.services_items .item{
	padding: 0;
	position: relative;
}

.services_items .item .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	content: '';
	color: #ffffff;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.services_items .item:hover .overlay{
	background: rgba(0,0,0,0.6);
}

.services_items .item .overlay .inner{
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.services_items .item .overlay .inner .icon{
	font-size: 150px;
	display: inline-block;
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	color: rgba(255,255,255,0.05);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.services_items .item:hover .overlay .inner .icon{
	color: rgba(255,255,255,0.1);
}

.services_items .item .overlay .inner .title{
	margin: 0;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.services_items .item:hover .overlay .inner .title{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.services_items .item .overlay .inner .separator{
	background: #ffffff;
	height: 1px;
	width: 0;
	margin: 20px auto;
	display: block;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.services_items .item:hover .overlay .inner .separator{
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
	width: 100px;
}

.services_items .item .overlay .inner .subtitle{
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	color: #cccccc;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.services_items .item:hover .overlay .inner .subtitle{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/* clients */
.clients_list .item{
	padding: 0 20px;
}

/* team members */
.team_container{
	/*
	background: url(../img/team_bg.jpg);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    */
    background-color: #7b7b7b;
    padding: 100px;
    position: relative;
    z-index: 5;
}

.team_container:after{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	background: rgba(0,0,0,0.4);
	content: '';
}

.team_members{
	position: relative;
	z-index: 10;
}

.team_members .member{
	padding: 0;
}

.team_members .member .top{
	position: relative;
}

.team_members .member .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.8);
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team_members .member:hover .overlay{
	opacity: 1;
	visibility: visible;
	z-index: 5;
}

.team_members .member .overlay .social_icons{
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.team_members .member .overlay .social_icons .top_border{
	background: #888888;
	width: 0px;
	position: absolute;
	top: 0;
	left: 50%;
	height: 1px;
	-webkit-transform: translateY(-15px) translateX(-50%);
	-ms-transform: translateY(-15px) translateX(-50%);
	transform: translateY(-15px) translateX(-50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team_members .member:hover .overlay .social_icons .top_border{
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
	width: 100%;
}

.team_members .member .overlay .social_icons .bottom_border{
	background: #888888;
	width: 0px;
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 1px;
	-webkit-transform: translateY(10px) translateX(-50%);
	-ms-transform: translateY(10px) translateX(-50%);
	transform: translateY(10px) translateX(-50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team_members .member:hover .overlay .social_icons .bottom_border{
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
	width: 100%;
}

.team_members .member .overlay .social_icons a{
	color: #888888;
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.team_members .member:hover .overlay .social_icons a{
    opacity: 1;
    visibility: visible;
    z-index: 6;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.team_members .member:hover .overlay .social_icons a.i1{
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.team_members .member:hover .overlay .social_icons a.i2{
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

.team_members .member:hover .overlay .social_icons a.i3{
    -webkit-transition-delay: 1.0s;
    transition-delay: 1.0s;
}

.team_members .member:hover .overlay .social_icons a.i4{
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}

.team_members .member .overlay .social_icons a i{
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team_members .member .overlay .social_icons a:hover i{
	color: #111111;
}

.team_members .member .overlay .social_icons a + a{
	margin-left: 20px;
}

.team_members .member .bot{
	background: #ffffff;
	padding: 30px;
	text-align: center;
}

.team_members .member + .member .bot{
	border-left: 1px solid #f5f5f5;
}

.team_members .member .bot .sep{
	background: #333333;
	width: 0px;
	height: 1px;
	margin: 0 auto;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team_members .member:hover .bot .sep{
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
	width: 100px;
}

.team_members .member .bot .name{
	margin-bottom: 20px;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team_members .member:hover .bot .name{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.team_members .member .bot .position{
	font-weight: normal;
	margin: 0;
	margin-top: 20px;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.team_members .member:hover .bot .position{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/*
===============================================
			9. Contact
===============================================
*/
.contact_bg_image{
	background: url(../img/contact_bg.jpg);
    background-size: cover !important;
    background-color: #242832;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 700px;
    position: relative;
}

.contact_bg_image .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background: rgba(0,0,0,0.3);
}

.contact_bg_image .overlay .inner{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	padding: 30px;
	color: #ffffff;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.contact_bg_image .overlay .inner .contact_items .item + .item{
	margin-top: 30px;
}

.contact_bg_image .overlay .inner .contact_items .item{
	color: #dedede;
}

.contact_bg_image .overlay .inner .contact_items .item:hover{
	color: #ffffff;
}

.contact_bg_image .overlay .inner .contact_items .item i{
	font-size: 35px;
	display: inline-block;
	margin-bottom: 10px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.contact_bg_image .overlay .inner .contact_items .item .text{
	font-size: 17px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.contact_bg_image .overlay .inner .contact_items .item a{
	color: #dedede;
}

.contact_bg_image .overlay .inner .contact_items .item a:hover{
	color: #ffffff;
}

.contact_body{
	position: relative;
}

.contact_body .contact_form{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	padding: 30px;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.contact_body .contact_form .title{
	margin: 0;
}

.contact_body .contact_form .form_row + .form_row{
	margin-top: 30px;
}

.contact_body .contact_form .form_row .inputfield{
	width: 100%;
	padding: 10px;
	background: transparent;
	border:none;
	border-bottom: 2px solid #bebebe;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.contact_body .contact_form .form_row .inputfield.contains_error{
	border-bottom: 2px solid #ff0000 !important;
}

.contact_body .contact_form .form_row textarea{
	min-height: 150px;	
}

.contact_body .contact_form .form_row .inputfield:hover,
.contact_body .contact_form .form_row .inputfield:focus{
	border-bottom: 2px solid #111111;
}

.contact_body .contact_form .messages{
	background: #ededed;
	padding: 15px;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.contact_body .contact_form .messages.visible{
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

/*
===============================================
			10. Parallax
===============================================
*/

.parallax_item .owl-controls .owl-dots .owl-dot.active span,
.parallax_item .owl-controls .owl-dots .owl-dot:hover span{
	background: #ffffff !important;
	border:1px solid #ffffff !important;
}

.parallax_item{
	position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover !important;
    width: 100%;
}

.parallax_item .parallax_content{
	position: relative;
	z-index: 3;
	color: #ffffff;
	padding: 100px 20px;
}

.parallax_item .parallax_content .inner{
 
}

.parallax_item .parallax_content a{
	color: #ffffff;
}

.parallax_item .parallax_content .parallax_subtitle{
	font-size: 12px;
	letter-spacing: 4px;
	font-weight: 700;
	line-height: 22px;
}

.parallax_item .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.55);
	z-index: 1;
}

.parallax_item.light .parallax_content,
.parallax_item.light .parallax_content a{
	color: #111111;
}

.parallax_item.light .overlay{
	background: rgba(255,255,255,0.85);
}

.parallax_item.no_parallax{
    background-attachment: scroll !important;
}

/* parallax testimonials */
.parallax_item.testimonials{
	background-image:url('../img/parallax1.jpg');
}

.testimonials_items .item{
	text-align: center;
}

.testimonials_items .item img{
	width: 150px;
	display: inline-block;
	border-radius: 100%;
	margin-bottom: 30px;
	border:4px solid #ffffff;
}

.testimonials_items .item .text{
	font-size: 16px;
}

/*
===============================================
			11. Google Maps
===============================================
*/
#gmap{
	display: block;
	height: 450px;
	width: 100%;
}

/*
===============================================
			12. Gallery
===============================================
*/
.gallery_items .item{
	padding: 0;
	position: relative;
	overflow: hidden;
}

.gallery_items .item img{
	width: 100%;
}

.gallery_items .item .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.gallery_items .item .overlay a.title{
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 100%;
	color: #bebebe;
	padding: 15px;
	font-size: 17px;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.gallery_items .item:hover .overlay a.title{
	bottom: 0;
}

.gallery_items .item .overlay a.title:hover{
	color: #ffffff;
}

.gallery_items .item .overlay a.icon{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: -1;
	visibility: hidden;
	opacity: 0;
	color: #bebebe;
	text-decoration: none;
	border:2px solid #bebebe;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	border-radius: 100%;
	font-size: 35px;
	-webkit-transform: translate3d(-50%, calc(-50% - 15px), 0);
	-ms-transform: translate3d(-50%, calc(-50% - 15px), 0);
	transform: translate3d(-50%, calc(-50% - 15px), 0);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.gallery_items .item .overlay a.icon:hover{
	color: #ffffff;
	border:2px solid #ffffff;
}

.gallery_items .item:hover .overlay a.icon{
	opacity: 1;
	visibility: visible;
	z-index: 6;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.gallery_items .item:hover .overlay{
	opacity: 1;
	visibility: visible;
	z-index: 5;
}

/* pricing tables */
.pricing_tables .item{
	text-align: center;
	padding: 30px;
    margin: 20px;
}

.pricing_tables .item.promote{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.pricing_tables .item .cycle{
	color: #999999;
}

.pricing_tables .item .features{
	padding: 0;
	margin: 0;
	list-style: none;
}

.pricing_tables .item .features li{
	display: block;
}

.pricing_tables .item .features li + li{
	margin-top: 5px;	
}

.pricing_tables .item .actions{
	padding-top: 30px;
}


/*
===============================================
			13. Portfolio
===============================================
*/
#content.portfolio{
	background: #ffffff;
}

#content.floating_filter{
	padding-top: 80px;
}

/* filter */
.portfolio_grid_filter{
	position: absolute;
	left: 240px;
	top: -100%;
	list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 27px 0;
	background: #ffffff;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	display: block !important;
	-webkit-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid_filter.visible{
	opacity: 1;
	visibility: visible;
	z-index: 50;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.portfolio_grid_filter.sticky{
	opacity: 1;
	visibility: visible;
	z-index: 50;
	position: relative;
	left: auto;
	top: auto;
	width: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

#content.floating_filter .portfolio_grid_filter{
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 240px);
}

.portfolio_grid_filter li.label{
	font-weight: bold;
	color: #222222;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

.portfolio_grid_filter li{
	cursor: pointer;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: #777777;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid_filter li + li{
	margin-left: 15px;
}

.portfolio_grid_filter_toggle{
	position: absolute;
	left: 50%;
	top: 30px;
	width: 60px;
	height: 60px;
	z-index: 10;
	display: inline-block;
	color: #666666;
	fill:#666666;
	text-decoration: none !important;
	-webkit-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.portfolio_grid_filter_toggle:hover,
.portfolio_grid_filter_toggle:focus,
.portfolio_grid_filter_toggle.active{
	fill: #111111;
}

/*
===============================================
			14. Shopping cart
===============================================
*/
.shopping_cart_icon{
	position: absolute;
	left: 50%;
	top: 90px;
	width: 100%;
	height: 60px;
	z-index: 10;
	color: #333333;
	cursor: pointer;
	-webkit-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.shopping_cart_icon.no-top{
	top: 30px;
}

.shopping_cart_icon:hover .icon_box{
	color: #111111;
}

.shopping_cart_icon .icon_box{
	color: #666666;
	font-size: 30px;
	position: relative;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shopping_cart_icon .icon_box .total{
    position: absolute;
    left: calc(50% + 13px);
    top: calc(50% + 10px);
    background: #FF1313;
    color: #ffffff;
    padding: 0 4px;
    border-radius: 3px;
    font-size: 11px;
    display: inline-block;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.shopping_cart_outer{
	position: relative;
}

#shopping_cart{
	position: absolute;
	left: 20px;
	top: calc(100% + 20px);
	width: 200px;
	background: #ffffff;
	border:1px solid #dedede;
	opacity: 0;
	padding: 10px;
	visibility: hidden;
	z-index: -1;
	cursor: default;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#shopping_cart > .arrow {
	display: inline-block;
	background: #ffffff;
	border: 1px solid #dedede;
	position: absolute;
	left: 50%;
	top: 0px;
	-webkit-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}
#shopping_cart > .arrow:after, #shopping_cart > .arrow:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#shopping_cart > .arrow:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

#shopping_cart > .arrow:before {
	border-color: rgba(222, 222, 222, 0);
	border-bottom-color: #dedede;
	border-width: 11px;
	margin-left: -11px;
}

#shopping_cart .items .item{
	position: relative;
	padding-bottom: 15px;
	border-bottom: 1px solid #ededed;
	margin-bottom: 15px;
}

#shopping_cart .items .item:after{
	content: '';
	display: block;
	clear: both;
}

#shopping_cart .items .item img{
	width: 50px;
	float: left;
	margin-right: 15px;
}

#shopping_cart .items .item .body{
	text-align: left;
}

#shopping_cart .items .item .body .title{
	margin-bottom: 0px;
}

#shopping_cart .items .item .body .price_quantity .price{
	font-weight: bold;
}

#shopping_cart .items .item a{
	color: #333333;
}

#shopping_cart .subtotal{
	padding-bottom: 15px;
	text-align: left;
}

#shopping_cart .subtotal .total{
	font-size: 15px;
}

#shopping_cart .subtotal .price{
	display: inline-block;
	float: right;
	font-weight: bold;
	font-size: 16px;
}

#shopping_cart .actions a{
	display: block;
}

#shopping_cart .actions a + a{
	margin-top: 10px;
}

.shopping_cart_icon:hover #shopping_cart{
	opacity: 1;
	visibility: visible;
	z-index: 15;
	top: 100%;
}

/* portfolio grid */
.portfolio_grid .item{
	padding: 0;
	background: #1d1d1d;
	overflow: hidden;
	position: relative;
}

.portfolio_grid .item.light_color{
	color: #ffffff;
}

.portfolio_grid .item.light_color .separator{
	background: #ffffff !important;
}

.portfolio_grid .item img{
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid .item:hover img{
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.portfolio_grid .item .overlay{
	-webkit-backface-visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	content: '';
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

/* portfolio bg colors */

.portfolio_grid .item.bgcolor1 .overlay{
	background: #EF3F3D;
}

.portfolio_grid .item.bgcolor2 .overlay{
	background: #0087e0;
}

.portfolio_grid .item.bgcolor3 .overlay{
	background: #A08600;
}

.portfolio_grid .item.bgcolor4 .overlay{
	background: #0B7900;
}

.portfolio_grid .item.bgcolor5 .overlay{
	background: #7C2EAA;
}

.portfolio_grid .item.bgcolor6 .overlay{
	background: #CE2F86;
}

.portfolio_grid .item.bgcolor7 .overlay{
	background: #111111;
}

.portfolio_grid .item.bgcolor8 .overlay{
	background: #EF6309;
}

.portfolio_grid .item.bgcolor9 .overlay{
	background: #25A38A;
}

.portfolio_grid .item.bgcolor10 .overlay{
	background: #A2121D;
}

.portfolio_grid .item:hover .overlay{
	opacity: 0.9;
	visibility: visible;
	z-index: 5;
}

.portfolio_grid .item .goto_project{
	display: inline-block;
	position: absolute;
	left: 50%;
	text-align: center;
	bottom: 40px;
	color: #111111;
	font-size: 25px;
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.portfolio_grid .item .goto_project:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
}

.portfolio_grid .item .goto_project:after{
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
}

.portfolio_grid .item.light_color .goto_project:before,
.portfolio_grid .item.light_color .goto_project:after{
	background: rgba(255,255,255,0.5);
}

.portfolio_grid .item:hover .goto_project:before,
.portfolio_grid .item:hover .goto_project:after{
    -webkit-animation: goto-project-anim2 ease 3s infinite;
    -moz-animation: goto-project-anim2 ease 3s infinite;
    animation: goto-project-anim2 ease 3s infinite
}

@-webkit-keyframes goto-project-anim2 {
    50% {
		-webkit-transform: translate3d(0, 0, 0);
    }

    61% {
		-webkit-transform: translate3d(0, 100%,0);
    }

    61.001% {
		-webkit-transform: translate3d(0, -100%,0);
    }
}

@-moz-keyframes goto-project-anim2 {
    50% {
        -moz-transform: translate3d(0, 0, 0);
    }

    61% {
        -moz-transform: translate3d(0, 100%,0);
    }

    61.001% {
        -moz-transform: translate3d(0, -100%,0);
    }
}

@keyframes goto-project-anim2 {
    50% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    61% {
        -webkit-transform: translate3d(0, 100%,0);
        -moz-transform: translate3d(0, 100%,0);
        -ms-transform: translate3d(0, 100%,0);
        transform: translate3d(0, 100%,0);
    }

    61.001% {
        -webkit-transform: translate3d(0, -100%,0);
        -moz-transform: translate3d(0, -100%,0);
        -ms-transform: translate3d(0, -100%,0);
        transform: translate3d(0, -100%,0);
    }
}

.portfolio_grid .item.light_color .goto_project{
	color: #ffffff;
}

.portfolio_grid .item .goto_project i{
	display: inline-block;
}

.portfolio_grid .item:hover .goto_project i{
    -webkit-animation: goto-project-anim ease 2s infinite;
    -moz-animation: goto-project-anim ease 2s infinite;
    animation: goto-project-anim ease 2s infinite
}

@-webkit-keyframes goto-project-anim {


    50% {
		-webkit-transform: translate3d(0, 0,0);
    }

    61% {
		-webkit-transform: translate3d(0, 40px,0);
    }

    61.001% {
		-webkit-transform: translate3d(0, -40px,0);
    }

}

@-moz-keyframes goto-project-anim {
    50% {
        -moz-transform: translate3d(0, 0, 0);
    }

    61% {
        -moz-transform: translate3d(0, 40px,0);
    }

    61.001% {
        -moz-transform: translate3d(0, -40px,0);
    }
}

@keyframes goto-project-anim {
    50% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    61% {
        -webkit-transform: translate3d(0, 40px,0);
        -moz-transform: translate3d(0, 40px,0);
        -ms-transform: translate3d(0, 40px,0);
        transform: translate3d(0, 40px,0);
    }

    61.001% {
        -webkit-transform: translate3d(0, -40px,0);
        -moz-transform: translate3d(0, -40px,0);
        -ms-transform: translate3d(0, -40px,0);
        transform: translate3d(0, -40px,0);
    }
}

.portfolio_grid .item .hover_link{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
}

.portfolio_grid .item .overlay .inner{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid .item:hover .overlay .inner{
	opacity: 1;
	visibility: visible;
	z-index: 6;
}

.portfolio_grid .item .overlay .inner .title{
	-webkit-transform: translateY(-50px) scale(0.9,0.9);
	-ms-transform: translateY(-50px) scale(0.9,0.9);
	transform: translateY(-50px) scale(0.9,0.9);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid .item:hover .overlay .inner .title{
	-webkit-transform: translateY(0) scale(1,1);
	-ms-transform: translateY(0) scale(1,1);
	transform: translateY(0) scale(1,1);
}

.portfolio_grid .item .overlay .inner .tagline{
	color: #6666666666;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	-webkit-transform: translateY(50px) scale(0.8,0.8);
	-ms-transform: translateY(50px) scale(0.8,0.8);
	transform: translateY(50px) scale(0.8,0.8);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.portfolio_grid .item:hover .overlay .inner .tagline{
	-webkit-transform: translateY(0) scale(1,1);
	-ms-transform: translateY(0) scale(1,1);
	transform: translateY(0) scale(1,1);
}

.portfolio_grid .item .overlay .inner .separator{
	width: 0;
}

.portfolio_grid .item:hover .overlay .inner .separator{
	width: 40px;
}

.portfolio_grid .item .overlay .inner .separator.vertical{
	width: 1px;
	height: 0;
}

.portfolio_grid .item:hover .overlay .inner .separator.vertical{
	width: 1px;
	height: 40px;
}

/* portfolio project */
.portfolio_project_info{
	padding: 80px 0;
	text-align: center;
}

.portfolio_project_info .item + .item{
	margin-top: 30px;
}

.portfolio_project_info .item .categories a{
	display: inline-block;
	margin-right: 5px;
	background: #bebebe;
	color: #ffffff;
	padding: 3px 8px;
	text-decoration: none;
}

.portfolio_project_info .item .categories a:hover{
	background: #555555;
}

.portfolio_project_info .item .social_icons a{
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	display: inline-block;
	text-decoration: none;
	color: #333333;
	border-radius: 100%;
}

.portfolio_project_info{
	text-align: left;
}

.detailSocialLink{
	text-align: center;
}

.portfolio_project_info .item .social_icons a + a{
	margin-left: 10px;
}

.similar_projects{
	background: #f5f5f5;
	padding: 50px;
}

.similar_projects > .title{
	text-align: center;
}

.browse_projects{
	margin-bottom: 80px;
	padding: 0;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}

.browse_projects .item{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.browse_projects .item:hover{
	background: #ededed;
}

.browse_projects a{
	display: block;
	padding: 50px 0;
	color: #444444;
	text-decoration: none;
}

.browse_projects .prev i{
	display: inline-block;
	margin-right: 20px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.browse_projects .prev:hover i{
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
}

.browse_projects .next i{
	display: inline-block;
	margin-left: 20px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.browse_projects .next:hover i{
	-webkit-transform: translateX(-10px);
	-ms-transform: translateX(-10px);
	transform: translateX(-10px);
}

/* top cover */
.top_cover{
	position: relative;
	background-size: cover;
    background-position: center center;
    height: 400px;
}

.top_cover .overlay{
	padding: 80px 15px;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.5);
}

.vertical_align{
	position: relative;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.top_cover .title{
	position: relative;
}

.top_cover .title span.title{
	position: relative;
	display: inline-block;
	padding: 30px 40px;
	padding-left: 0;
	font-size: 1.45em;
}

.top_cover .title span.sep{
	position: relative;
	margin-right: 30px;
}

.top_cover .title span.sep:after{
	position: absolute;
	width: 1px;
	height: 130px;
	background: #333333;
	content: '';
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.top_cover .title span.subtitle{
	display: inline-block;
	font-weight: normal;
	padding-left: 20px;
	font-size: 16px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.top_cover.events{
	background-image:url('../img/events.jpg');
}

.top_cover.spaces{
	background-image:url('../img/spaces.jpg');
}

.top_cover.news{
	background-image:url('../img/news.jpg');
}

.top_cover.shop{
	background-image:url('../img/shop_top.jpg');
}

/*
===============================================
			15. Blog posts
===============================================
*/
.blog_posts.default .post{
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #dedede;
}

.blog_posts.default .post + .post{
	margin-top: 50px;
}

.blog_posts.default .post .media{
	margin-bottom: 30px;
}

.blog_posts.default .post .title{
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 15px;
}

.blog_posts.default .post .title a{
	position: relative;
	color: #111111;
	text-decoration: none !important;
}

.blog_posts.default .post .title a:before{
	position: absolute;
	left: 5px;
	top: 50%;
	width: 0;
	height: 1px;
	content: '';
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	background: #111111;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.blog_posts.default .post .title:hover a:before{
	left: -70px;
	width: 50px;
	opacity: 1;
	visibility: visible;
	z-index: 5;
}

.blog_posts.default .post .title a:after{
	position: absolute;
	right: 5px;
	top: 50%;
	width: 0;
	height: 1px;
	content: '';
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	background: #111111;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.blog_posts.default .post .title:hover a:after{
	right: -70px;
	width: 50px;
	opacity: 1;
	visibility: visible;
	z-index: 5;
}

.blog_posts.default .post .meta a{
	color: #888888;
}

.blog_posts.default .post .meta{
	margin-bottom: 30px;
}

.blog_posts.default .post .excerpt{
	margin-bottom: 30px;
}

.blog_posts.default.grid:after{
	display: block;
	content: '';
	clear: both;
}

.blog_posts.default.grid .post{
	margin: 0;
	padding: 30px 15px;
}

.blog_posts.default.grid .post .title:hover a:before{
	left: -30px;
	width: 20px;
}

.blog_posts.default.grid .post .title:hover a:after{
	right: -30px;
	width: 20px;
}

.blog_posts .post.post_view .body{
	text-align: left;
}

.blog_posts .post.post_view .body > *{
	margin-bottom: 20px;
}

.blog_posts .post.post_view .tags_social{
	text-align: left;
	margin-top: 50px;
}

.blog_posts .post.post_view .tags_social .tags{
	float: left;
	line-height: 100%;
}

.blog_posts .post.post_view .tags_social .tags .title{
	margin:0;
	display: inline-block;
	margin-right: 5px;	
}

.blog_posts .post.post_view .tags_social .tags a{
	display: inline-block;
	color: #555555;
}

.blog_posts .post.post_view .tags_social .social_icons{
	float: right;
}

.blog_posts .post.post_view .tags_social .social_icons a{
	display: inline-block;
	text-decoration: none;
	background: #ededed;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 100%;
	color: #555555;
}

.blog_posts .post.post_view .tags_social .social_icons a + a{
	margin-left: 5px;
}

.blog_posts .post #comments{
	text-align: left;
	margin: 40px 0;
}

.blog_posts .post #comments > .title{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ededed;
}

.blog_posts .post #comments .comments_list{
	padding: 0;
	margin: 0;
	list-style: none;
}

.blog_posts .post #comments .comments_list .comment .comment_inner{
	position: relative;
	padding: 25px 0;
	border-bottom: 1px solid #f4f4f4;
}

.blog_posts .post #comments .comments_list .comment .comment_inner img{
	position: absolute;
	left: 0;
	top: 25px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.blog_posts .post #comments .comments_list .comment .comment_inner .body{
	padding-left: 100px;
}

.blog_posts .post #comments .comments_list .comment .comment_inner .body .name{
	margin-bottom: 5px;
}

.blog_posts .post #comments .comments_list .comment .comment_inner .body .date{
	color: #999999;
	font-style: italic;
	margin-bottom: 10px;
	margin-top: 0;
}

.blog_posts .post #comments .comments_list .comment .comment_inner .body .text{
	margin-bottom: 15px;
}

.blog_posts .post #comments .comments_list .comment .children{
	padding: 0;
	margin: 0;
	list-style: none;
	padding-left: 100px;
}

.blog_posts .post .comment_form{
	text-align: left;
}

.blog_posts .post .comment_form .title{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ededed;
}

.blog_posts .post .comment_form .form .input{
	margin-bottom: 20px;
}

.blog_posts .post .comment_form .form .input input,
.blog_posts .post .comment_form .form .input textarea{
	padding: 10px;
	width: 100%;
	border:0;
	background: transparent;
	border-bottom: 2px solid #ededed;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.blog_posts .post .comment_form .form .input textarea{
	min-height: 150px;
}

.blog_posts .post .comment_form .form .input input:hover,
.blog_posts .post .comment_form .form .input textarea:hover,
.blog_posts .post .comment_form .form .input input:focus,
.blog_posts .post .comment_form .form .input textarea:focus{
	background: #ffffff;
	border-bottom:2px solid #111111;
}

.pagination{
	display: block;
	margin: 0;
	margin-top: 60px;
	font-size: 0;
	text-align: center;
}

.pagination li{
	display: inline-block;
}

.pagination li a{
	font-size: 14px;
	padding: 12px 20px;
	border-radius: 0 !important;
	color: #666666;
	background: transparent;
	border: none;
}

.pagination li + li{
	margin-left: 5px;
}

.pagination li.active a,
.pagination li:hover a{
	color: #ffffff;
}

/* blog posts alternative */
.blog_posts.alternative .post + .post{
	padding-top: 50px;
}

.blog_posts.alternative .post > div{
	padding: 0;
}

.blog_posts.alternative .post .body{
	padding-left: 30px;
}

.blog_posts.alternative .post .body .title{
	margin-bottom: 20px;
}

.blog_posts.alternative .post .body .title a{
	color: #333333;
	text-transform: uppercase;
	text-decoration: none;
}

.blog_posts.alternative .post .actions{
	text-align: right;
}

.blog_posts.alternative .post .meta{
	margin-bottom: 15px;
}

.blog_posts.alternative .post .meta a{
	color: #999999;
	font-weight: bold;
}

/* blog sidebar */
.blog_sidebar .widgetbox + .widgetbox{
	margin-top: 50px;
}

.blog_sidebar .widgetbox.search form{
	position: relative;
}

.blog_sidebar .widgetbox.search form input{
	width: 100%;
	background: transparent;
	border:1px solid #bebebe;
	padding: 10px 20px;
	padding-right: 45px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.blog_sidebar .widgetbox.search form input:hover,
.blog_sidebar .widgetbox.search form input:focus{
	border:1px solid #333333;
	background: #ffffff;
}

.blog_sidebar .widgetbox.search form button{
    position: absolute;
    right: 5px;
    top: 50%;
    background: transparent;
    border: 0;
    line-height: 100%;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.blog_sidebar .widgetbox > .title{
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}

.blog_sidebar .widgetbox > .title span{
	background: #f5f5f5;
	padding: 0 10px;
}

.blog_sidebar .widgetbox > .title:before{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background: #999999;
    content: '';
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.blog_sidebar .widgetbox:hover > .title:before{
	background: #333333;
}

.blog_sidebar .widgetbox .about{
	text-align: center;
}

.blog_sidebar .widgetbox .about img{
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	border-radius: 100%;
}

.blog_sidebar .widgetbox.categories ul{
	margin: 0;
}

.blog_sidebar .widgetbox.categories ul li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
}

.blog_sidebar .widgetbox.categories ul li:hover{
	border-bottom: 1px solid #555555;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.blog_sidebar .widgetbox.categories ul li a{
	display: block;
	color: #999999;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

.blog_sidebar .widgetbox.categories ul li a:hover{
	color: #111111;
	padding-left: 5px;
}

.blog_sidebar .widgetbox.recent_posts ul{
	list-style: none;
	padding: 0;
}

.blog_sidebar .widgetbox.social .icons a{
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-right: 5px;
	font-size: 20px;
	background: #ededed;
	text-align: center;
	border-radius: 100%;
	text-decoration: none;
	color: #333333;
}

/*
===============================================
			16. Shop
===============================================
*/
.shop .top_actions{
	margin-bottom: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

.shop .top_actions .results_count{
	padding-top: 15px;
	font-size: 15px;
}

.shop .top_actions .orderby{
	border:1px solid #bebebe;
	padding: 15px;
}

/* shop products */
.shop .shop_products{
	margin-left: -30px;
	margin-right: -30px;
}

.shop .shop_products > div{
	padding: 0;
}

.shop .shop_products .product{
	margin: 30px;
	margin-top: 0;
}

.shop .shop_products .product .details{
	padding: 30px;
	padding-bottom: 0;
	text-align: center;
}

.shop .shop_products .product .details h4{
	margin-bottom: 5px;
}

.shop .shop_products .product .details a{
	color: #333333;
	text-decoration: none;
}

.shop .shop_products .product .details .prices{
	font-size: 16px;
}

.shop .shop_products .product .details .prices .price.old{
	text-decoration: line-through;
	color: #999999;
}

.shop .shop_products .product .details .prices .price.new{
	font-size: 24px;
	display: inline-block;
	margin-left: 10px;
}

.shop .shop_products .product .image{
	position: relative;
	overflow: hidden;
}

.shop .shop_products .product .onsale{
    position: absolute;
    left: 15px;
    top: 15px;
    padding: 1px 8px;
    font-family: 'Montserrat', sans-serif;
    background: #ff0000;
    color: #ffffff;
    z-index: 5;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop .shop_products .product:hover .onsale{
	top: -12%;
}

.shop .shop_products .product .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop .shop_products .product:hover .overlay{
	z-index: 6;
	opacity: 0.9;
	visibility: visible;
}

.shop .shop_products .product .overlay .add_to_cart_product{
	position: absolute;
	left: 50%;
	top: 40%;
	z-index: 7;
	width: 70%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop .shop_products .product:hover .overlay .add_to_cart_product{
    top: 50%;
}

/* shop product */
/* shop product */

.shop_item{
	margin: 80px 0;
}

.shop_item .slideshow_items .item{
	height: auto;
}

.shop_product_details > .title{
	font-weight: bold;
	margin-bottom: 3px;
}

.shop_product_details .code{
	margin-bottom: 10px;
}

.shop_product_details .price{
	font-size: 35px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.shop_product_details .price span{
	display: inline-block;
}

.shop_product_details .price .old{
	text-decoration: line-through;
	font-size: 14px;
	margin-right: 10px;
	color: #999999;
}

.shop_product_details .choose{
	margin: 20px 0;
}

.shop_product_details .choose h5{
	margin-top: 6px;
}

.shop_product_details .addtocart_form{
	margin-bottom: 20px;
}

.shop_product_details .addtocart_form .quantity{
	display: inline-block;
	font-size: 0;
	float: left;
}

.shop_product_details .addtocart_form .quantity a{
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	color: #333333;
	text-align: center;
	border:1px solid #ededed;
	float: left;
	text-decoration: none;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop_product_details .addtocart_form .quantity a:hover{
	background: #111111;
	border:1px solid transparent;
	color: #ffffff;
}

.shop_product_details .addtocart_form .quantity input{
	height: 40px;
	width: 40px;
	display: inline-block;
	border: none;
	padding: 0;
	margin: 0;
	background: #f4f4f4;
	font-size: 13px;
	padding: 0 10px;
	text-align: center;
	float: left;
}

.shop_product_details .addtocart_form a.button{
	float: left;
	margin-left: 20px;
}

.shop_product_details .btn_box{
	margin-bottom: 20px;
}

.shop_product_details .btn_box a{
	display: inline-block;
	margin-bottom: 10px;
}

.shop_product_details .categories{
	margin-bottom: 20px;
}

.shop_product_details .categories h5{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 0;
}

.product_tabs{
	margin-top: 50px;
}

.product_tabs .nav{
	font-size: 0;
}

.product_tabs .nav li{
	font-size: 13px;
	margin-bottom: 0;
	float: none;
	display: inline-block;
}

.product_tabs .nav li + li{
	margin-left: 10px;
}

.product_tabs .nav li a{
	border-radius: 0;
	border:2px solid transparent;
	margin: 0;
	color: #333333;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.product_tabs .nav li a:hover,
.product_tabs .nav li.active a{
	border:2px solid transparent;
	color: #ffffff;
}

.product_tabs .tab-content .tab-pane{
	padding: 20px 0;
}

.product_tabs .tab-content .tab-pane > h3{
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.product_tabs .tab-content .tab-pane table tr td{
	border:1px solid #ededed;
}

.product_reviews{
	margin-bottom: 20px;
}

.product_reviews .review{
	margin-bottom: 20px;
	position: relative;
	background: #f9f9f9;
	border-bottom: 1px solid #ededed;
	padding: 20px;
}

.product_reviews .review .body{
	padding-left: 70px;
}

.product_reviews .review img{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 50px;
}

.product_reviews .review h5{
	margin-bottom: 0;
}

.product_reviews .review .meta{
	color: #999999;
}

.product_reviews .review h5 .ratings{
	float: right;
}

.product_reviews .review h5 .ratings i{
	display: inline-block;
}

.product_review_form input,
.product_review_form textarea{
	padding: 10px;
	width: 100%;
	border:2px solid #dedede;
	background: transparent;
	margin-bottom: 20px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.product_review_form textarea{
	height: 150px;
}

.product_review_form input:hover,
.product_review_form textarea:hover,
.product_review_form input:focus,
.product_review_form textarea:focus{
	border:2px solid #111111;
}

.product_review_form button{
	background: transparent;
	padding: 0;
	margin: 0;
	border:none;
	display: inline-block;
}

.product_review_form .rating{
	margin-bottom: 20px;
}

.product_review_form .rating span{
	display: inline-block;
	margin-right: 10px;
}

.product_review_form .rating i{
	cursor: pointer;
	color: #999999;
	font-size: 17px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.product_review_form .rating i:hover{
	color: #111111;
}

.shop_cart_table{
	border:1px solid #dedede;
	margin-bottom: 30px;
}

.shop_cart_table thead tr th{
	padding: 10px;
	text-transform: uppercase;
}

.shop_cart_table.table a.title{
	color: #333333;
}

.shop_cart_table.table > thead > tr > td,
.shop_cart_table.table > thead > tr > th,
.shop_cart_table.table > tbody > tr > td,
.shop_cart_table.table > tbody > tr > th,
.shop_cart_table.table > tfoot > tr > td,
.shop_cart_table.table > tfoot > tr > th{
	vertical-align: middle;
}

.shop_cart_table .cart_image img{
	width: 60px;
}

.shop_cart_table .cart_actions input{
	width: 50px;
	display: inline-block;
	border:1px solid #dedede;
	height: 30px;
	text-align: center;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}


.shop_cart_table .cart_actions button{
    width: 50px;
    display: inline-block;
    border: 1px solid #dedede !important;
    height: 30px;
    text-align: center;
    padding: 1px 6px !important;
    font-size: 13px !important;
    color: #333333 !important;
    background: transparent !important;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.shop_cart_table .cart_actions input:hover,
.shop_cart_table .cart_actions button:hover{
	border:1px solid #333333 !important;
	background: transparent !important;
}

.coupon_discount{
	margin-bottom: 30px;
}

.shop_form{
	padding: 25px;
	border:1px solid #dedede;
}

.shop_form.shop_cart_totals > a{
	display: block;
}

.shop_form.shop_cart_totals > a + a{
	margin-top: 15px;
}

.shop_form h4{
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 15px;
}

.shop_form form input{
	margin-bottom: 15px;
	display: block;
	width: 100%;
	border:1px solid #dedede;
	padding: 10px;
}

.shop_form form button{
	border: none;
}

.shop_cart_totals .table tr.total{
	font-weight: bold;
}

.shop_cart_totals a.btn{
	width: 100%;
}

.shop_cart_totals a.btn + a.btn{
	margin-top: 15px;
}

/* shop sidebar */
.shop_sidebar .widgetbox + .widgetbox{
	margin-top: 60px;
}

.shop_sidebar .widgetbox a{
	color: #333333;
}

.shop_sidebar .widgetbox.search form{
	position: relative;
}

.shop_sidebar .widgetbox.search button{
	border: none;
    background: transparent;
    position: absolute;
    right: 20px;
    top: 25px;
    padding: 0;
}

.shop_sidebar .widgetbox.search button i{
	display: inline-block;
	font-size: 18px;
}

.shop_sidebar .widgetbox.search input{
	width: 100%;
	background: #f4f4f4;
	padding: 20px;
	padding-right: 50px;
	border:2px solid transparent;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop_sidebar .widgetbox.search input:hover,
.shop_sidebar .widgetbox.search input:focus{
	border:2px solid #111111;
}

.shop_sidebar .widgetbox.search input:focus{
	background: #f9f9f9;
}

.shop_sidebar .widgetbox > .title{
	padding-bottom: 10px;
	margin-bottom: 15px;
	position: relative;
}

.shop_sidebar .widgetbox > .title:after{
	content: '';
	height: 2px;
	width: 25%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #999999;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop_sidebar .widgetbox:hover > .title:after{
	width: 50%;
}

.shop_sidebar .widgetbox.cats ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.shop_sidebar .widgetbox.cats ul li{
	margin-bottom: 5px;
}

.shop_sidebar .widgetbox.cats ul li a{
	font-size: 14px;
	letter-spacing: 1px;
	border-bottom:2px solid transparent;
	display: block;
	text-decoration: none;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop_sidebar .widgetbox.cats ul li a:hover{
	border-bottom:2px solid #bebebe;
	padding-left: 10px;
}

.shop_sidebar .widgetbox.filter .price_filter_min_val{
	float: left;
}

.shop_sidebar .widgetbox.filter .price_filter_max_val{
	float: right;
}

.shop_sidebar .widgetbox.filter .price_filter_tag{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.shop_sidebar .widgetbox.filter #price_filter,
.shop_sidebar .widgetbox.filter #price_filter .ui-corner-all{
	border-radius: 0;
}

.shop_sidebar .widgetbox.filter .button{
	margin-top: 20px;
	display: block;
}

.shop_sidebar .widgetbox.tags .list{
	font-size: 0;
}

.shop_sidebar .widgetbox.tags a.tag{
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 4px 8px;
	background: #f4f4f4;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop_sidebar .widgetbox.tags a.tag:hover{
	background: #111111;
	color: #ffffff;
}

.shop_sidebar .widgetbox.sizes .list{
	font-size: 0;
}

.shop_sidebar .widgetbox.sizes .list a{
	display: inline-block;
	text-decoration: none;
	width: 33%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 1px;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop_sidebar .widgetbox.sizes .list a:hover{
	background: #dedede;
}

.shop_sidebar .widgetbox.popular .list{
	font-size: 0;
}

.shop_sidebar .widgetbox.popular .list a{
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 3%;
    border: 1px solid #ededed;
    padding: 5px;
    opacity: 1;
    position: relative !important;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

.shop_sidebar .widgetbox.popular .list a:hover{
	border:1px solid #999999;
}

/* footer */
#footer{
	padding-left: 240px;
	background: #1d1d1d;
	color: #ffffff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
}

#footer a{
	color: #ffffff;
}

#footer .social_icons{
	margin: 30px 0;
	font-size: 0;
}

#footer .social_icons a{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	display: inline-block;
	text-decoration: none;
	font-size: 17px;
	color: #666666;
	-webkit-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}

#footer .social_icons a + a{
	margin-left: 15px;
}

#footer .social_icons a:hover{
	color: #ffffff;
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
}

#footer .copyright{
	letter-spacing: 1px;
	color: #dedede;
}

#footer .copyright a{
	color: #dedede;
}

/*
===============================================
			17. Themes
===============================================
*/

/* THEME 1 */

body.theme1 .color,
body.theme1 .portfolio_grid_filter li.active,
body.theme1 .portfolio_grid_filter li:hover,
body.theme1 #sidebar .inner nav > ul > li.active > a,
body.theme1 #sidebar .inner nav > ul > li:hover > a,
body.theme1 #submenu_bar ul li a:hover,
body.theme1 .blog_posts.default .post .title a:hover,
body.theme1 .blog_posts.alternative .post .body .title a:hover,
body.theme1 .shop .shop_products .product .details h4 a:hover{
	color:#EF3F3D;
}

.theme_configs .themes .theme1,
body.theme1 .portfolio_grid .item .overlay .inner .separator,
body.theme1 .button:hover,
body.theme1 .button:focus,
body.theme1 .button.inverse,
body.theme1 .hor_sep,
body.theme1 .section.some_stats,
body.theme1 .progress_bars .item .bar_outer .bar_inner,
body.theme1 .blog_posts.default .post .title:hover a:before,
body.theme1 .blog_posts.default .post .title:hover a:after,
body.theme1 .pagination li.active a,
body.theme1 .pagination li:hover a,
body.theme1 .ui-widget-header,
body.theme1 .product_tabs .nav li a:hover,
body.theme1 .product_tabs .nav li.active a,
body.theme1 .slideshow .slide .overlay .inner .sep,
body.theme1 .fullscreen_video .overlay .inner .sep{
	background: #EF3F3D;
}

body.theme1 .pricing_tables .item,
body.theme1 .button.inverse.border{
	border:2px solid #EF3F3D;
}

body.theme1 .product_tabs .nav{
	border-bottom: 2px solid #EF3F3D;
}


/* THEME 2 */

body.theme2 .color,
body.theme2 .portfolio_grid_filter li.active,
body.theme2 .portfolio_grid_filter li:hover,
body.theme2 #sidebar .inner nav > ul > li.active > a,
body.theme2 #sidebar .inner nav > ul > li:hover > a,
body.theme2 #submenu_bar ul li a:hover,
body.theme2 .blog_posts.default .post .title a:hover,
body.theme2 .blog_posts.alternative .post .body .title a:hover,
body.theme2 .shop .shop_products .product .details h4 a:hover{
	color:#0087e0;
}

.theme_configs .themes .theme2,
body.theme2 .portfolio_grid .item .overlay .inner .separator,
body.theme2 .button:hover,
body.theme2 .button:focus,
body.theme2 .button.inverse,
body.theme2 .hor_sep,
body.theme2 .section.some_stats,
body.theme2 .progress_bars .item .bar_outer .bar_inner,
body.theme2 .blog_posts.default .post .title:hover a:before,
body.theme2 .blog_posts.default .post .title:hover a:after,
body.theme2 .pagination li.active a,
body.theme2 .pagination li:hover a,
body.theme2 .ui-widget-header,
body.theme2 .product_tabs .nav li a:hover,
body.theme2 .product_tabs .nav li.active a,
body.theme2 .slideshow .slide .overlay .inner .sep,
body.theme2 .fullscreen_video .overlay .inner .sep{
	background: #0087e0;
}

body.theme2 .pricing_tables .item,
body.theme2 .button.inverse.border{
	border:2px solid #0087e0;
}

body.theme2 .product_tabs .nav{
	border-bottom: 2px solid #0087e0;
}

/* THEME 3 */

body.theme3 .color,
body.theme3 .portfolio_grid_filter li.active,
body.theme3 .portfolio_grid_filter li:hover,
body.theme3 #sidebar .inner nav > ul > li.active > a,
body.theme3 #sidebar .inner nav > ul > li:hover > a,
body.theme3 #submenu_bar ul li a:hover,
body.theme3 .blog_posts.default .post .title a:hover,
body.theme3 .blog_posts.alternative .post .body .title a:hover,
body.theme3 .shop .shop_products .product .details h4 a:hover{
	color:#A08600;
}

.theme_configs .themes .theme3,
body.theme3 .portfolio_grid .item .overlay .inner .separator,
body.theme3 .button:hover,
body.theme3 .button:focus,
body.theme3 .button.inverse,
body.theme3 .hor_sep,
body.theme3 .section.some_stats,
body.theme3 .progress_bars .item .bar_outer .bar_inner,
body.theme3 .blog_posts.default .post .title:hover a:before,
body.theme3 .blog_posts.default .post .title:hover a:after,
body.theme3 .pagination li.active a,
body.theme3 .pagination li:hover a,
body.theme3 .ui-widget-header,
body.theme3 .product_tabs .nav li a:hover,
body.theme3 .product_tabs .nav li.active a,
body.theme3 .slideshow .slide .overlay .inner .sep,
body.theme3 .fullscreen_video .overlay .inner .sep{
	background: #A08600;
}

body.theme3 .pricing_tables .item,
body.theme3 .button.inverse.border{
	border:2px solid #A08600;
}

body.theme3 .product_tabs .nav{
	border-bottom: 2px solid #A08600;
}

/* THEME 4 */

body.theme4 .color,
body.theme4 .portfolio_grid_filter li.active,
body.theme4 .portfolio_grid_filter li:hover,
body.theme4 #sidebar .inner nav > ul > li.active > a,
body.theme4 #sidebar .inner nav > ul > li:hover > a,
body.theme4 #submenu_bar ul li a:hover,
body.theme4 .blog_posts.default .post .title a:hover,
body.theme4 .blog_posts.alternative .post .body .title a:hover,
body.theme4 .shop .shop_products .product .details h4 a:hover{
	color:#0B7900;
}

.theme_configs .themes .theme4,
body.theme4 .portfolio_grid .item .overlay .inner .separator,
body.theme4 .button:hover,
body.theme4 .button:focus,
body.theme4 .button.inverse,
body.theme4 .hor_sep,
body.theme4 .section.some_stats,
body.theme4 .progress_bars .item .bar_outer .bar_inner,
body.theme4 .blog_posts.default .post .title:hover a:before,
body.theme4 .blog_posts.default .post .title:hover a:after,
body.theme4 .pagination li.active a,
body.theme4 .pagination li:hover a,
body.theme4 .ui-widget-header,
body.theme4 .product_tabs .nav li a:hover,
body.theme4 .product_tabs .nav li.active a,
body.theme4 .slideshow .slide .overlay .inner .sep,
body.theme4 .fullscreen_video .overlay .inner .sep{
	background: #0B7900;
}

body.theme4 .pricing_tables .item,
body.theme4 .button.inverse.border{
	border:2px solid #0B7900;
}

body.theme4 .product_tabs .nav{
	border-bottom: 2px solid #0B7900;
}

/* THEME 5 */

body.theme5 .color,
body.theme5 .portfolio_grid_filter li.active,
body.theme5 .portfolio_grid_filter li:hover,
body.theme5 #sidebar .inner nav > ul > li.active > a,
body.theme5 #sidebar .inner nav > ul > li:hover > a,
body.theme5 #submenu_bar ul li a:hover,
body.theme5 .blog_posts.default .post .title a:hover,
body.theme5 .blog_posts.alternative .post .body .title a:hover,
body.theme5 .shop .shop_products .product .details h4 a:hover{
	color:#7C2EAA;
}

.theme_configs .themes .theme5,
body.theme5 .portfolio_grid .item .overlay .inner .separator,
body.theme5 .button:hover,
body.theme5 .button:focus,
body.theme5 .button.inverse,
body.theme5 .hor_sep,
body.theme5 .section.some_stats,
body.theme5 .progress_bars .item .bar_outer .bar_inner,
body.theme5 .blog_posts.default .post .title:hover a:before,
body.theme5 .blog_posts.default .post .title:hover a:after,
body.theme5 .pagination li.active a,
body.theme5 .pagination li:hover a,
body.theme5 .ui-widget-header,
body.theme5 .product_tabs .nav li a:hover,
body.theme5 .product_tabs .nav li.active a,
body.theme5 .slideshow .slide .overlay .inner .sep,
body.theme5 .fullscreen_video .overlay .inner .sep{
	background: #7C2EAA;
}

body.theme5 .pricing_tables .item,
body.theme5 .button.inverse.border{
	border:2px solid #7C2EAA;
}

body.theme5 .product_tabs .nav{
	border-bottom: 2px solid #7C2EAA;
}

/* THEME 6 */

body.theme6 .color,
body.theme6 .portfolio_grid_filter li.active,
body.theme6 .portfolio_grid_filter li:hover,
body.theme6 #sidebar .inner nav > ul > li.active > a,
body.theme6 #sidebar .inner nav > ul > li:hover > a,
body.theme6 #submenu_bar ul li a:hover,
body.theme6 .blog_posts.default .post .title a:hover,
body.theme6 .blog_posts.alternative .post .body .title a:hover,
body.theme6 .shop .shop_products .product .details h4 a:hover{
	color:#CE2F86;
}

.theme_configs .themes .theme6,
body.theme6 .portfolio_grid .item .overlay .inner .separator,
body.theme6 .button:hover,
body.theme6 .button:focus,
body.theme6 .button.inverse,
body.theme6 .hor_sep,
body.theme6 .section.some_stats,
body.theme6 .progress_bars .item .bar_outer .bar_inner,
body.theme6 .blog_posts.default .post .title:hover a:before,
body.theme6 .blog_posts.default .post .title:hover a:after,
body.theme6 .pagination li.active a,
body.theme6 .pagination li:hover a,
body.theme6 .ui-widget-header,
body.theme6 .product_tabs .nav li a:hover,
body.theme6 .product_tabs .nav li.active a,
body.theme6 .slideshow .slide .overlay .inner .sep,
body.theme6 .fullscreen_video .overlay .inner .sep{
	background: #CE2F86;
}

body.theme6 .pricing_tables .item,
body.theme6 .button.inverse.border{
	border:2px solid #CE2F86;
}

body.theme6 .product_tabs .nav{
	border-bottom: 2px solid #CE2F86;
}

/* THEME 7 */

body.theme7 .color,
body.theme7 .portfolio_grid_filter li.active,
body.theme7 .portfolio_grid_filter li:hover,
body.theme7 #sidebar .inner nav > ul > li.active > a,
body.theme7 #sidebar .inner nav > ul > li:hover > a,
body.theme7 #submenu_bar ul li a:hover,
body.theme7 .blog_posts.default .post .title a:hover,
body.theme7 .blog_posts.alternative .post .body .title a:hover,
body.theme7 .shop .shop_products .product .details h4 a:hover{
	color:#111111;
}

.theme_configs .themes .theme7,
body.theme7 .portfolio_grid .item .overlay .inner .separator,
body.theme7 .button:hover,
body.theme7 .button:focus,
body.theme7 .button.inverse,
body.theme7 .hor_sep,
body.theme7 .section.some_stats,
body.theme7 .progress_bars .item .bar_outer .bar_inner,
body.theme7 .blog_posts.default .post .title:hover a:before,
body.theme7 .blog_posts.default .post .title:hover a:after,
body.theme7 .pagination li.active a,
body.theme7 .pagination li:hover a,
body.theme7 .ui-widget-header,
body.theme7 .product_tabs .nav li a:hover,
body.theme7 .product_tabs .nav li.active a,
body.theme7 .slideshow .slide .overlay .inner .sep,
body.theme7 .fullscreen_video .overlay .inner .sep{
	background: #111111;
}

body.theme7 .pricing_tables .item,
body.theme7 .button.inverse.border{
	border:2px solid #111111;
}

body.theme7 .product_tabs .nav{
	border-bottom: 2px solid #111111;
}

/* THEME 8 */

body.theme8 .color,
body.theme8 .portfolio_grid_filter li.active,
body.theme8 .portfolio_grid_filter li:hover,
body.theme8 #sidebar .inner nav > ul > li.active > a,
body.theme8 #sidebar .inner nav > ul > li:hover > a,
body.theme8 #submenu_bar ul li a:hover,
body.theme8 .blog_posts.default .post .title a:hover,
body.theme8 .blog_posts.alternative .post .body .title a:hover,
body.theme8 .shop .shop_products .product .details h4 a:hover{
	color:#EF6309;
}

.theme_configs .themes .theme8,
body.theme8 .portfolio_grid .item .overlay .inner .separator,
body.theme8 .button:hover,
body.theme8 .button:focus,
body.theme8 .button.inverse,
body.theme8 .hor_sep,
body.theme8 .section.some_stats,
body.theme8 .progress_bars .item .bar_outer .bar_inner,
body.theme8 .blog_posts.default .post .title:hover a:before,
body.theme8 .blog_posts.default .post .title:hover a:after,
body.theme8 .pagination li.active a,
body.theme8 .pagination li:hover a,
body.theme8 .ui-widget-header,
body.theme8 .product_tabs .nav li a:hover,
body.theme8 .product_tabs .nav li.active a,
body.theme8 .slideshow .slide .overlay .inner .sep,
body.theme8 .fullscreen_video .overlay .inner .sep{
	background: #EF6309;
}

body.theme8 .pricing_tables .item,
body.theme8 .button.inverse.border{
	border:2px solid #EF6309;
}

body.theme8 .product_tabs .nav{
	border-bottom: 2px solid #EF6309;
}

/* THEME 9 */

body.theme9 .color,
body.theme9 .portfolio_grid_filter li.active,
body.theme9 .portfolio_grid_filter li:hover,
body.theme9 #sidebar .inner nav > ul > li.active > a,
body.theme9 #sidebar .inner nav > ul > li:hover > a,
body.theme9 #submenu_bar ul li a:hover,
body.theme9 .blog_posts.default .post .title a:hover,
body.theme9 .blog_posts.alternative .post .body .title a:hover,
body.theme9 .shop .shop_products .product .details h4 a:hover{
	color:#25A38A;
}

.theme_configs .themes .theme9,
body.theme9 .portfolio_grid .item .overlay .inner .separator,
body.theme9 .button:hover,
body.theme9 .button:focus,
body.theme9 .button.inverse,
body.theme9 .hor_sep,
body.theme9 .section.some_stats,
body.theme9 .progress_bars .item .bar_outer .bar_inner,
body.theme9 .blog_posts.default .post .title:hover a:before,
body.theme9 .blog_posts.default .post .title:hover a:after,
body.theme9 .pagination li.active a,
body.theme9 .pagination li:hover a,
body.theme9 .ui-widget-header,
body.theme9 .product_tabs .nav li a:hover,
body.theme9 .product_tabs .nav li.active a,
body.theme9 .slideshow .slide .overlay .inner .sep,
body.theme9 .fullscreen_video .overlay .inner .sep{
	background: #25A38A;
}

body.theme9 .pricing_tables .item,
body.theme9 .button.inverse.border{
	border:2px solid #25A38A;
}

body.theme9 .product_tabs .nav{
	border-bottom: 2px solid #25A38A;
}

/* THEME 10 */

body.theme10 .color,
body.theme10 .portfolio_grid_filter li.active,
body.theme10 .portfolio_grid_filter li:hover,
body.theme10 #sidebar .inner nav > ul > li.active > a,
body.theme10 #sidebar .inner nav > ul > li:hover > a,
body.theme10 #submenu_bar ul li a:hover,
body.theme10 .blog_posts.default .post .title a:hover,
body.theme10 .blog_posts.alternative .post .body .title a:hover,
body.theme10 .shop .shop_products .product .details h4 a:hover{
	color:#A2121D;
}

.theme_configs .themes .theme10,
body.theme10 .portfolio_grid .item .overlay .inner .separator,
body.theme10 .button:hover,
body.theme10 .button:focus,
body.theme10 .button.inverse,
body.theme10 .hor_sep,
body.theme10 .section.some_stats,
body.theme10 .progress_bars .item .bar_outer .bar_inner,
body.theme10 .blog_posts.default .post .title:hover a:before,
body.theme10 .blog_posts.default .post .title:hover a:after,
body.theme10 .pagination li.active a,
body.theme10 .pagination li:hover a,
body.theme10 .ui-widget-header,
body.theme10 .product_tabs .nav li a:hover,
body.theme10 .product_tabs .nav li.active a,
body.theme10 .slideshow .slide .overlay .inner .sep,
body.theme10 .fullscreen_video .overlay .inner .sep{
	background: #A2121D;
}

body.theme10 .pricing_tables .item,
body.theme10 .button.inverse.border{
	border:2px solid #A2121D;
}

body.theme10 .product_tabs .nav{
	border-bottom: 2px solid #A2121D;
}


/*
===============================================
			18. Media Queries
===============================================
*/


@media (min-width: 1024px) and (max-width: 5000px) {
	
	.container{
		max-width: 1000px;
		width: auto;
	}

}

/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

@media only screen and (min-width: 768px){
	
}

/* Landscape phone to portrait tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 1200px) {

	.container{
		max-width: 700px;
		width: auto;
	}

}


@media only screen and (min-width: 991px) and (max-width: 1640px) {
	

}

@media only screen and (min-width: 991px) {


}

@media only screen and (max-width: 991px) {

	.some_stats .item + .item,
	.about_we .item + .item{
		margin-top: 30px;
	}

}

@media only screen and (max-width: 767px) {
	
	#sidebar{
		display: none;
	}

	#content,
	#footer{
		padding-left: 0;
	}

	.mobile_nav_box{
		display: block;
		padding-top: 60px;
	}

	.top_cover .title span.title{
		padding:0;
		display: block;
		padding-bottom: 30px;
	}

	.top_cover .title span.sep{
	    padding: 0;
	    display: block;
	    width: 100px;
	    height: 1px;
	    content: '';
	    background: #111;
	    margin: 0 auto;
	}

	.top_cover .title span.sep:after{
		display: none;
	}

	.top_cover .title span.subtitle{
		display: block;
		position: relative;
		padding: 0;
		padding-top: 30px;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}

	.shop_product_details{
		margin-top: 30px;
	}

	.product_tabs .nav li{
		display: block;
	}

	.product_tabs .nav li + li{
		margin: 0;
	}

	.shop_product_details .choose h5{
		margin-bottom: 10px;
	}

	.shop_product_details .choose > div + div{
		margin-top: 15px;
	}

	.portfolio_grid_filter{
		position: relative !important;
		margin-top: 0;
		left: auto;
		top: auto;
		width: 100%;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		visibility: visible;
		opacity: 1;
		z-index: 50;
	}

	.portfolio_grid_filter li{
		display: block;
		text-align: center;
	}

	.portfolio_grid_filter li + li{
		margin: 0;
	}


}


/* Landscape phones and down */
@media only screen and (max-width: 479px) {

	.team_container{
		padding: 20px;
	}

}



.theme_configs{
	position: fixed;
	left: -158px;
	top: 15%;
	z-index: 300;
}

.theme_configs.visible{
	display: block !important;
	visibility: visible !important;
}

.theme_configs .body {
	display: inline-block;
	float: left;
	width: 158px;
	border: 1px solid #ededed;
	padding: inherit;
	background: #ffffff;
	text-align: center;
	word-wrap: break-word;
}

.theme_configs .body .head_title,
.theme_configs .body .title{
	width: 100%;
	padding: 4px;
	border-bottom: 1px solid #ededed;
}

.theme_configs .body .head_title{
	background: #f5f5f5;
}

.theme_configs .body .box{
	display: block;
	width: 100%;
	padding: 10px;
	float: left;
}

.theme_configs .btn{
	display: inline-block;
	height: 34px;
	width: 34px;
	line-height: 23px;
	background: #f5f5f5;
	border-radius: 0;
	font-size: 25px;
	cursor: pointer;
	text-align: center;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.theme_configs .box.themes div{
	display: block;
	width: 63px;
	height: 20px;
	margin-bottom: 10px;
	cursor: pointer;
	float: left;
	opacity: 0.7;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.theme_configs .box.themes div:nth-child(9),
.theme_configs .box.themes div:last-child{
	margin-bottom: 0;
}

.theme_configs .box.themes div:nth-child(2n+0){
	margin-left: 10px;
}

.theme_configs .box.themes div:hover{
	opacity: 1;
}

.theme_configs .box.themes div:hover,
.theme_configs .box.themes div.active{
	opacity: 1;
}

.theme_configs .box.themes div > span{
	display: block;
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
}

.team_members{
	.member{
		margin: 5px;
		.content{
			font-size: 0.9em;
		}
	}

	.partner{
		font-size: 0.9em;
		.name{
			font-size: 14px;
		}
	}

}

.customCheckboxWrapper{
	margin-top: 28px;
	[type=checkbox],
	[type=radio]{
	  display: none;
	  &:checked{
	    &+.customCheckboxLabel{
	      &:after{
	        content: '';
	      }
	    }
	  }
	}

	.customCheckboxLabel{
		text-align: left;
	  	position: relative;
	  	box-decoration-break: clone;
	  	padding-left: 60px;
		-webkit-box-decoration-break: clone;
	  	&:before{
	  	  content: '';
	  	  width: 26px;
	  	  height: 26px;
	  	  position: absolute;
	  	  top: 50%;
	  	  left: 0;
	  	  margin-top: -13px;
	  	  background: #fff; 
	  	  border: 2px solid #1d1d1d;
	  	}
	
	  	&:after{
	  	  width: 14px;
	  	  height: 10px;
	  	  background: url(../img/checked.svg);
	  	  background-size: cover;
	  	  position: absolute;
	  	  top: 50%;
	  	  left: 6px;
	  	  margin-top: -5px;
	  	}
	}
}